<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Custom Challan
      </div>
      <div class="row mt-4" style="overflow: visible !important">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" v-model="filterString" placeholder="Enter Here "
                v-on:keydown.enter="getstudent">
              <label>Enter Ref No/ Roll No/ Student Name </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div v-if="canRead">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive" v-if="canRead ">
                <div class="dataTables_wrapper no-footer">
                  <table class="table">
                    <thead>
                      <tr role="row">
                        <th>Reff #</th>
                        <th>Roll #</th>
                        <th>Name</th>
                        <th>Father Name</th>
                        <th>Program</th>
                        <th>Section</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in studentRecord">
                        <td class="v-align-middle">{{item.refferenceNo}}</td>
                        <td class="v-align-middle">{{item.rollNo}}</td>
                        <td class="v-align-middle">{{item.fullName}}</td>
                        <td class="v-align-middle">{{item.fatherName}}</td>
                        <td class="v-align-middle">{{item.description}}</td>
                        <td class="v-align-middle">
                          <div v-for="phone in getPhone(item.guardians)">{{phone.section}}</div>
                        </td>
                        <td>

                          <a @click="editModel(item)" data-toggle="tooltip" data-placement="top" title="Create Challan">
                            <feather icon="edit" xclass="b-edit"></feather>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <add-edit-model></add-edit-model>
</div> -->


<!-- <add-edit-model v-on:submit="getstudentFee"></add-edit-model> -->




<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title"> {{$t('navigation.fee')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.educationChallan')}} </a>
    </div>
  </template>

  <portlet-area action="1" :title="$t('navigation.educationChallan')">
    <template slot="portlet-body">
      <div class="row mb-3">
        <div class="col-md-3">
          <label for="">{{$t('modal.customChallan.enterRefNoRoLLNoStudentName')}}</label>
          <input type="text" class="form-control  " v-model="filterString"
            v-on:keydown.enter="getstudent">
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.reports.feeReports.class')}}</label>
            <select-ex :options="classList" keyValue="classId" displayValue="fullName"
              v-model="classId" @input="getstudent">
            </select-ex>
          </div>
        </div>
      </div>
   
      <grid :data="studentRecord" :columns="columns" pre="modal.customChallan.">
        <template slot="section" slot-scope="item">
          <div v-for="phone in getPhone(item.row.guardians)">{{phone.section}}</div>
        </template>
        <template slot="action" slot-scope="item">
          <button class="btn btn-outline-primary btn-icon btn-sm btn-circle" @click="editModel(item.row)"
            data-toggle="tooltip" data-placement="top" title="Create Challan">
            <i class="la la-plus-circle"></i>
          </button>
        </template>
      </grid>

      <!-- <div class="row" v-if="check">
        <div class="col-md-12 mt-4">
          <table class="table table-striped table-hover">
            <thead>
              <tr role="row">
                <th>{{$t('modal.customChallan.reff')}}</th>
                <th>{{$t('modal.customChallan.roll')}}</th>
                <th>{{$t('modal.customChallan.name')}}</th>
                <th>{{$t('modal.customChallan.fatherName')}}</th>
                <th>{{$t('modal.customChallan.program')}}</th>
                <th>{{$t('modal.customChallan.section')}}</th>
                <th>{{$t('modal.customChallan.action')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in studentRecord">
                <td>{{item.refferenceNo}}</td>
                <td>{{item.rollNo}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.fatherName}}</td>
                <td>{{item.description}}</td>
                <td>
                  <div v-for="phone in getPhone(item.guardians)">{{phone.section}}</div>
                </td>
                <td>

                  <button class="btn btn-outline-primary btn-icon btn-sm btn-circle" @click="editModel(item)"
                    data-toggle="tooltip" data-placement="top" title="Create Challan">
                    <i class="la la-plus-circle"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </template>
  </portlet-area>
  <add-edit-model></add-edit-model>
</page-area>