.timetable {
    width: 100%;
    font-size: 11px;
    border-collapse: collapse;

    .currrentRow {
        background: #fff3f3 !important;
    }

    tr {
        text-align: center;

        th {
            text-align: center;
            padding: 5px 0;
            font-weight: 400;
            background: #ebedf2;
            border: 1px solid #0000000d;
            width: 80px; // height: 80px;
            color: gray;


            &:first-child {
                // background-color: $t2;
                color: black;
                font-weight: bold;
            }
        }

        th.currrentDay {
            background: red !important;
            color: white !important;
        }

        td {
            box-sizing: border-box;
            text-align: center;
            border: 1px solid #0000000d;
            padding: 5px 5px;

            &:first-child {
                background: #ebedf2;
                vertical-align: middle;
                font-size: 12px;
                padding: 0px;
            }

            .btn-timetable {
                margin: 0 auto;
                background: transparent;
                border: none;
                outline: none;
                font-size: 50px;
                // margin-top: 10px;
                vertical-align: middle;
                cursor: pointer;

                &:hover {
                    color: darken(#ddd, 10%);
                }

                i {
                    color: #ddd;
                    width: 80px;
                    height: 80px;
                }
            }

            .slot-data {
                margin-top: 12px;
                box-shadow: 0 1px 15px 1px rgba(245, 245, 249, 0.08);
                width: auto;
                text-align: left;
                padding: 20px 10px 14px 10px;
                position: relative;
                background: #f5f5f9;

                .dot-btn {
                    position: absolute;
                    top: 0px;
                    font-size: 16px;
                    position: absolute;
                    right: 5px;
                    cursor: pointer;
                    color: #5766dd;

                    .dropdown-menu {
                        min-width: 85px !important;
                        height: 58px !important;
                        padding: 0px !important;
                    }

                    .dropdown-toggle {
                        &:after {
                            display: none !important;
                        }


                    }

                    .drop-ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        .drop-li {
                            margin: 0;
                            font-size: 12px;
                            padding: 5px 12px;
                            list-style: none;
                            border-bottom: 1px solid #0000000d;

                            &:hover {
                                background: #ebedf2d4;
                            }
                        }
                    }

                }
            }

        }

        .friday-slot {
            vertical-align: middle;
            background: #ebedf2;
            color: gray !important;
            font-weight: 500;
            border-bottom-width: 1px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 11px;
            border: 1px solid #0000000d;
        }
    }
}


.table {
    tr {
        td {
            text-align: center;
        }
    }

    tr {
        th {
            text-align: center;
        }
    }
}

.customTable {

    th {
        border: 4px solid white;
        background: #ebedf2;
        font-size: 12px;
        padding: 10px;
        font-weight: 500;
        text-align: center;
        color: #595d6e;
        word-break: break-word;
    }

    tr {
        border-bottom: 1px solid gray;

        td {
            padding: 24px 15px;
            font-size: 12px;
            text-align: center;

            &:first-child {
                background: #ebedf2;
                vertical-align: middle;
                color: #595d6e;
                font-size: 12px;
                font-weight: bold;
                padding: 0px 6px;
                cursor: pointer;
                text-decoration: underline;
                //width: 220px;
                word-break: break-word;

            }

        }
    }

}
.customTable1 {

    th {
        border: 4px solid white;
        background:#fafafa;
        font-size: 16px;
        padding: 10px;
        font-weight: 500;
        text-align: center;
        color:white;
        word-break: break-word; 
        font-weight: bold;
    }

    tr {
        border-bottom: 1px solid #203864;

        td {
            padding: 10px 12px;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            color: #868686;
            font-size: 12px;

            &:first-child {
                background: #EBEDF2;
                vertical-align: middle;
                color: #868686;
                font-size: 12px;
                font-weight: bold;
                padding: 0px 6px;
                cursor: pointer;
                text-decoration: underline;
                //width: 220px;
                word-break: break-word;

            }
            
            

        }
    }

}

.rowHover {
    &:hover {
        // background: #f2f3f7;
        cursor: pointer;
        background: #f1f3f6;
    }
}

.timetable-toggle {
    position: absolute;
    right: -81px;
    z-index: 999;
    top: 0;
    position: absolute;
    height: 60px;
    width: 80px;

    .editbtn-tb {
        line-height: 30px;
        font-size: 12px;
        padding: 0 12px;

    }

    .deletebtn-tb {
        line-height: 30px;
        font-size: 12px;
        padding: 0 12px;

    }
}

.actionbtn-tb {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #0000000d;
    cursor: pointer;

    &:hover {
        background: #ebedf2d4;
    }
}

.fixed-header-table {
    tbody {
        display: block;
        max-height: 40vh;
        overflow: auto;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    table {
        width: 100%;
    }
}

.card-box {
    .table {
        color: #fff;

        th {
            text-align: center;
        }
    }
}

.modelOuter{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 11111;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background:rgba(131, 131, 131, 0.575);
    z-index: 110;
}
.badge {
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 500;
  }

  .badge-success {
    background-color: #28a745;
    color: white;
  }

  .badge-danger {
    background-color: #dc3545;
    color: white;
  }

  .w-52 {
    width: 57% !important;
}

