<!--
*   Author: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Exam Bulk
      </div>
      <div class="card-body">
        <div v-if="canRead">
          <grid :data="datas" :columns="columns">
            <template slot="operation-actions">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <select  class="form-control form-control-sm" v-model="sessionId" required>
                      <option v-for="(model,index) in sessionList" :value="model.sessionId">{{model.fullName}}</option>
                    </select>
                    <label>Session</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <drop-down v-model="campusId" :data="campusCityList" group-by="cityName" key-value="campusId"
                    display-value="campusName" placeholder="Campus">
                  </drop-down>
                </div>
                <div class="col-md-3">
                  <drop-down v-model="programDetailId" :data="campusProgramLinkList" group-by="programName"
                    key-value="programDetailId" display-value="description" placeholder="Programs">
                  </drop-down>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select  class="form-control form-control-sm" v-model="classId" required>
                      <option v-for="(model,index) in classList" :value="model.classId">{{model.fullName}}</option>
                    </select>
                    <label>Class</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select  v-model="sectionCourseLinkId" class="form-control form-control-sm" required>
                      <option :value="item.sectionCourseLinkId" v-for="item in sectionCourseLinkList">
                        {{item.sectionName}}
                      </option>
                    </select>
                    <label>Section</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select  class="form-control form-control-sm" v-model="programCourseLinkId" required>
                      <option :key="index" :value="model.programCourseLinkId" v-for="(model,index) in courseLists">
                        {{model.courseName}}</option>
                    </select>
                    <label>Course</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control form-control-sm" v-model="examTypeId" required>
                      <option :key="index" :value="model.examTypeId" v-for="(model,index) in examTypeList">
                        {{model.fullName}}</option>
                    </select>
                    <label>Exam Type</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input  :disabled="examUpdateDataList.length>0" class="form-control form-control-sm" v-model="totalMarks" type="text" required>
                    <label>Total Marks</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input class="form-control form-control-sm" v-model="datestring" type="date" required>
                    <label>Date</label>
                  </div>
                </div>
                <div v-if="examUpdateDataList.length>0" class="col-md-12">
                  <span style="margin-right: 5px;" class="badge badge-primary">Update</span>
                </div>
              </div>
            </template>
            <template slot="operation-links">
              <button v-if="canAdd" @click="insertModel" class="b-add">
                <feather icon="plus-circle"></feather>
              </button>
              <button @click="refreshData" class="b-refresh">
                <feather icon="refresh-ccw"></feather>
              </button>
            </template>
            <template slot="attendanceStatusId" slot-scope="item">
              <select :disabled="item.row.isApproved" @change="checks(item.row)" v-model="item.row.attendanceStatusId">
                <option :key="index" :value="model.attendenceStatusId" v-for="(model,index) in attendanceStatusList">
                  {{model.fullName}}</option>
              </select>
            </template>
            <template slot="obtainMarks" slot-scope="item">
              <input  type="number" :disabled="item.row.attendanceStatusId!=presentStatusId || item.row.isApproved"
                v-model="item.row.obtainMarks"></input>
            </template>
            <template slot="statusId" slot-scope="item">
              {{item.row.statusId==1?'Active':'InActive'}}
            </template>
            <template slot="action" slot-scope="item">
              <a @click="editModel(item.row)" v-if="canEdit">
                <feather icon="edit" xclass="b-edit"></feather>
              </a>
              <a @click="deleteModel(item.row)" v-if="canDelete">
                <feather icon="trash" xclass="b-delete"></feather>
              </a>
            </template>
          </grid>
        </div>
      </div>
    </div>
  </div>
</div> -->






<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title"> {{$t('navigation.examination')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.examBulk')}} </a>
    </div>
  </template>
  <portlet-area action="1" :title="$t('navigation.examBulk')">
    <template slot="portlet-body" v-if="canRead">
      <!-- <div v-if="canRead"> -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.session')}}<span style="color:red"> *</span></label>
            <select-ex @input="loadCityCampus" :options="sessionList" keyValue="sessionId" displayValue="fullName"
              v-model.trim="sessionId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.campus')}}<span style="color:red"> *</span></label>
            <select-ex :options="campusCityList" v-model.trim="campusId" keyValue="campusId" displayValue="campusName"
              groupBy="cityName"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.program')}}<span style="color:red"> *</span></label>
            <select-ex @input="loadClass" :options="campusProgramLinkList" keyValue="programDetailId"
              displayValue="description" groupBy="programName" v-model.trim="programDetailId"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.class')}}<span style="color:red"> *</span></label>
            <select-ex :options="classList" keyValue="classId" displayValue="fullName" v-model.trim="classId">
            </select-ex>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.section')}}<span style="color:red"> *</span></label>
            <select-ex :options="sectionCourseLinkList" keyValue="sectionCourseLinkId" displayValue="sectionName"
              v-model.trim="sectionCourseLinkId"></select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.course')}}<span style="color:red"> *</span></label>
            <select-ex :options="courseLists" :disabled="isapproved==true" keyValue="programCourseLinkId" displayValue="courseName"
              v-model.trim="programCourseLinkId" @input="loadExamType">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.examType')}}<span style="color:red"> *</span></label>
            <select-ex :options="examTypeList" :disabled="isapproved==true" keyValue="examTypeId" displayValue="fullName" v-model.trim="examTypeId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.totalMarks')}}</label><span v-if="totalMarks<1" style="font-size: 10px; color:red"> (Must be greater than 0)</span>
            <input :disabled="isapproved==true" class="form-control" v-model="totalMarks"
              type="number" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.month')}}</label>
            <date-picker v-model="datestring" lang="en" type="month" format="YYYY-MM" :not-after="currentdate">
            </date-picker>
          </div>
        </div>
        <div v-if="examUpdateDataList.length>0" class="col-md-10">
          <span style="margin-right: 5px; margin-top: 28px;" class="badge badge-primary">Update</span>
        </div>
      </div>
      <br>
      <grid :data="datas" :columns="columns" pre="modal.examBulk.">
        <template slot="action-area">
          <button v-if="canAdd" :disabled="!allowsubmit"@click="insertModel" class="btn btn-light btn-hover btn-sm btn-primary">
            <i class="la la-save"></i>{{$t('button.save')}}
          </button>
          <button @click="refreshData" class="btn btn-light btn-hover btn-sm btn-primary">
            <i class="la la-refresh"></i> {{$t('button.reload')}}
          </button>
        </template>
        <template slot="attendanceStatusId" slot-scope="item">
          <!-- <select-ex :disabled="item.row.isApproved" @change="checks(item.row)" v-model="item.row.attendanceStatusId">
            <option :key="index" :value="model.attendenceStatusId" v-for="(model,index) in attendanceStatusList">
              {{model.fullName}}</option>
          </select-ex> -->

          <select-ex :disabled="item.row.isApproved|| item.row.shouldAbsent" @change="checks(item.row)" :options="attendanceStatusList"
            keyValue="attendenceStatusId" displayValue="fullName" v-model.trim="item.row.attendanceStatusId">
          </select-ex>
        </template>
        <template slot="obtainMarks" slot-scope="item">
          <input type="number" :disabled="item.row.attendanceStatusId!=presentStatusId || item.row.isApproved"
            v-model="item.row.obtainMarks" class="form-control form-control-sm"></input>
        </template>
        <template slot="statusId" slot-scope="item">
          {{item.row.statusId==1?'Active':'InActive'}}
        </template>
        <template slot="action" slot-scope="item">
          <a @click="editModel(item.row)" v-if="canEdit">
            <feather icon="edit" xclass="b-edit"></feather>
          </a>
          <a @click="deleteModel(item.row)" v-if="canDelete">
            <feather icon="trash" xclass="b-delete"></feather>
          </a>
        </template>
      </grid>
      <!-- </div> -->
    </template>
  </portlet-area>
</page-area>