<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<!-- <div class="row" style="overflow: visible !important">
    <div class="col-md-12">
        <h4>Cancel Challan</h4>
        <br>
        <div class="row">
            <div v-if="canRead" class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" v-model="filterString"
                        placeholder="Enter Challan No " v-on:keydown.enter="SearchFeeConfirmation">
                    <label>Enter Challan No </label>
                </div>
            </div>
            <div v-if="canAdd && StudentFeedata.length>0" class="col-md-3">
                <button :disabled="isAlreadyPaid" data-toggle="modal" data-target="#myModal"
                    class="btn btn-primary">{{isAlreadyPaid?'Challan is Paid':'Cancel Challan'}}</button>
            </div>
        </div>
        <div class="pannel-background code-block" style="font-family: Montserrat-Regular">
            <div class="card-title text-center">
                <strong>Information</strong>
            </div>
            <hr />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4"><strong>Refference # : </strong></div>
                            <div class="col-md-8">{{RefrenceNo ? RefrenceNo : ''}}</div>
                            <div class="col-md-4"><strong>Student's Name : </strong></div>
                            <div class="col-md-8">{{Name ? Name : ''}}</div>
                            <div class="col-md-4"><strong>Father's Name : </strong></div>
                            <div class="col-md-8">{{fatherName ? fatherName : ''}}</div>
                            <div class="col-md-4"><strong>Campus Name :</strong></div>
                            <div class="col-md-8">{{campusName ? campusName : ''}}</div>
                            <div class="col-md-4"><strong>Program :</strong></div>
                            <div class="col-md-8">{{description ? description : ''}}-{{className ? className : ''}}
                                ({{sectionName ? sectionName : ''}})</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="pannel-background code-block" style="font-family: Montserrat-Regular">
            <div class="card-title text-center">
                <strong>Fee Particulars</strong>, <strong>Installment
                    #</strong>{{installmentNO ? installmentNO : ''}}
            </div>
            <hr />
            <div class="cardbody">
                <div class="row">
                    <div class="col-md-3"><strong>Particulars</strong></div>
                    <div class="col-md-3"><strong>Fee Amount</strong></div>
                    <div class="col-md-3"><strong>Concession</strong></div>
                    <div class="col-md-3"><strong>Payable</strong></div>
                </div>
                <div class="row" v-for="items in StudentFeedata">
                    <div class="col-md-3">{{items.feeHead}}</div>
                    <div class="col-md-3">{{items.stfeeamount}}</div>
                    <div class="col-md-3">{{items.concessionName}}</div>
                    <div class="col-md-3">{{items.payableAmount}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="pannel-background  code-block" style="font-family: Montserrat-Regular; overflow: visible;">
            <div class="card-title text-center">
                <div class="row">
                    <div class="col-md-3"><strong>Total Amount</strong> : {{TotalAmount ? TotalAmount : ''}}
                    </div>
                    <div class="col-md-3"><strong>Collector Name</strong> : {{collectorName ? collectorName : ''}}
                    </div>
                    <div class="col-md-3"><strong>Due Date</strong> : {{dueDate ? dueDate : '' | formatDMY}}
                    </div>
                    <div class="col-md-3"><strong>Paid Date</strong> :
                        {{recievedDate ? recievedDate : '' | formatDMY}}</div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to Cancel Challan?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" @click="cancelChallan()" class="btn btn-primary"
                        data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> -->



<page-area>
    <template slot="breadcrumbs-area">
        <h3 class="kt-subheader__title"> {{$t('navigation.fee')}}</h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">
                {{$t('navigation.challanCancel')}} </a>
        </div>
    </template>
    <portlet-area action="1" :title="$t('navigation.challanCancel')">
        <template slot="portlet-body">
            <div class="row">
                <div class="col-md-3" v-if="canRead">
                    <div class="form-group">
                        <label> {{$t('modal.challanCancel.enterChallanNo')}}</label>
                        <input type="text" class="form-control" v-model.trim="filterString"
                            v-on:keydown.enter="SearchFeeConfirmation" placeholder="Enter Here">
                    </div>
                </div>
                <div class="col-md-3">
                    <div v-if="canAdd && StudentFeedata.length>0" class="col-md-3">
                        <button :disabled="isAlreadyPaid" data-toggle="modal" data-target="#myModal"
                            @click="cancelChallan"
                            class="btn btn-primary">{{isAlreadyPaid?'Challan is Paid':'Cancel Challan'}}</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="mb-3">{{$t('modal.challanCancel.information')}}</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <label>{{$t('modal.challanCancel.reference')}}</label>
                            </div>
                            <div class="col-md-8">
                                <span class="kt-badge kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                                    color: black; font-size: 1rem;">
                                    {{RefrenceNo ? RefrenceNo : ''}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>{{$t('modal.challanCancel.studentName')}}</label>
                            </div>
                            <div class="col-md-8">
                                <span class="kt-badge kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                                        color: black; font-size: 1rem;">
                                    {{Name ? Name : ''}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>{{$t('modal.challanCancel.fatherName')}}</label>
                            </div>
                            <div class="col-md-8">
                                <span class="kt-badge kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                                    color: black; font-size: 1rem;">
                                    {{fatherName ? fatherName : ''}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>{{$t('modal.challanCancel.program')}}</label>
                            </div>
                            <div class="col-md-8">
                                <span class="kt-badge kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                                    color: black; font-size: 1rem;">
                                    {{description ? description : ''}}-{{className ? className : ''}}
                                    ({{sectionName ? sectionName : ''}})</span>
                            </div>
                            <div class="col-md-4">
                                <label>{{$t('modal.challanCancel.campusName')}}</label>
                            </div>
                            <div class="col-md-8">
                                <span class="kt-badge kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                                    color: black; font-size: 1rem;">
                                    {{campusName ? campusName : ''}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <h6 class="mb-3">{{$t('modal.challanCancel.feeStatus')}}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-center">
                        <label class="d-block">{{$t('modal.challanCancel.installment')}}</label>
                        <span>{{installmentNO ? installmentNO : ''}}</span>
                    </div>

                    <div class="col-md-2 text-center">
                        <label class="d-block">{{$t('modal.challanCancel.totalAmount')}}</label>
                        <span>{{payableAmount ? payableAmount : ''}}</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="d-block">{{$t('modal.challanCancel.collectorName')}}</label>
                        <span>{{collectorName ? collectorName : ''}}</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="d-block">{{$t('modal.challanCancel.paidStatus')}}</label>
                        <span v-if="isAlreadyPaid"
                            class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">{{$t('modal.challanCancel.challanPaid')}}</span>
                        <span v-else
                            class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">{{$t('modal.challanCancel.unpaid')}}</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="d-block">{{$t('modal.challanCancel.dueDate')}}</label>
                        <span>{{dueDate ? dueDate : '' | formatDMY}}</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <label class="d-block">{{$t('modal.challanCancel.paidDate ')}}</label>
                        <span>{{recievedDate ? recievedDate : '' | formatDMY}}</span>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <h6 class="mb-3">{{$t('modal.challanCancel.feeParticulars ')}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="thead-light">
                                <tr role="row">
                                    <th>{{$t('modal.challanCancel.particulars')}}</th>
                                    <th>{{$t('modal.challanCancel.feeAmount')}}</th>
                                    <th>{{$t('modal.challanCancel.Concession')}}</th>
                                    <th>{{$t('modal.challanCancel.payable')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="items in StudentFeedata">
                                    <td> {{items.feeHead}} </td>
                                    <td> {{items.stfeeamount}} </td>
                                    <td>{{items.concessionName}} </td>
                                    <td>{{items.payableAmount}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </template>
    </portlet-area>
</page-area>