<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title"> {{$t('navigation.fee')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.attendanceFineGenerate')}} </a>
    </div>
  </template>
  <portlet-area action="1" :title="$t('navigation.attendanceFineGenerate')">
    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.session')}}</label>
            <select-ex @input="loadCityCampus" :options="sessionList" keyValue="sessionId" displayValue="fullName"
              v-model.trim="sessionId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.campus')}}</label>
            <select-ex :options="campusCityList" v-model.trim="campusId" keyValue="campusId" displayValue="campusName"
              groupBy="cityName" @input="loadProgramsOfCampus"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.program')}}</label>
            <select-ex :options="campusProgramLinkList" keyValue="campusProgramId" displayValue="description"
              groupBy="programName" v-model.trim="campusProgramId" @input="loadClass"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.class')}}</label>
            <select-ex @input="loadSections" :options="classList" keyValue="classId" displayValue="fullName"
              v-model.trim="classid"></select-ex>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.section')}}</label>
            <select-ex :options="sectionList" keyValue="sectionCourseLinkId" displayValue="sectionName"
              v-model.trim="sectionCourseLinkId"></select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.fromPercentage')}}</label>
            <input type="number" class="form-control  " v-model.trim="fromPercentage">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.toPercentage')}}</label>
            <input type="number" class="form-control " v-model.trim="toPercentage">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.fromDate')}}</label>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model.trim="fromDate"
              format="DD/MM/YYYY" lang="en" v-mask="'##/##/####'"></date-picker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.toDate')}}</label>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model.trim="toDate" format="DD/MM/YYYY"
              lang="en" v-mask="'##/##/####'"></date-picker>
          </div>
        </div>
        <div class="col-md-9 text-right mt-4">
          <button @click="refreshData" class="btn btn-hover btn-sm btn-outline-primary">
            <i class="la la-refresh"></i> {{$t('button.reload')}}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.challanType')}}</label>
            <select-ex @input="loadFeeHeads" :options="challanTypeList" keyValue="challanTypeId" displayValue="fullName"
              v-model.trim="challanTypeId"></select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.feeHead')}}</label>
            <select-ex :options="feeHeadList" keyValue="feeHeadId" displayValue="fullName" v-model.trim="feeHeadId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.challanAmount')}}</label>
            <input type="number" class="form-control " v-model.trim="amount">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.challanDueDate')}}</label>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model.trim="dueDate" format="DD/MM/YYYY"
              lang="en" v-mask="'##/##/####'"></date-picker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.attendanceFineGenerate.remarks')}}</label>
            <!-- <input type="text" class="form-control form-control-sm" v-model.trim="Remarks"> -->
            <select-ex :options="concessionremarksmarkslist" keyValue="remarks" displayValue="remarks"
              v-model.trim="Remarks"></select-ex>
          </div>
        </div>
      </div>
      <grid :data="data" :columns="columns" pre="modal.attendanceFineGenerate.">
        <template slot="action-area">
          <button data-toggle="modal" :disabled="!allowsubmit()" data-target="#myModal"
            class=" btn btn-hover btn-sm btn-outline-primary"> <i class="la la-floppy-o"></i>
            {{$t('button.save')}}</button>
          <!-- <button type="button" class="btn btn-hover btn-sm btn-outline-primary" @click="generateChallanReport"><i
              class="la la-print"></i>{{$t('modal.attendanceFineGenerate.printChallan')}}</button> -->
        </template>
        <template slot="isSelected-header" slot-scope="item">
          {{$t('modal.attendanceFineGenerate.checkAll')}} &nbsp;&nbsp;
          <label class="kt-checkbox kt-checkbox--brand" style="margin-bottom: 16px;">
            <input type="checkbox" @change="CheckAll" v-model="checkAllrec">
            <span></span>
          </label>
        </template>
        <template slot="isSelected" slot-scope="item">
          <label class="kt-checkbox kt-checkbox--brand" style="margin-bottom: 16px;">
            <input type="checkbox" @change="CheckIndividuals(item.row.refferenceNo,item.row.isSelected)"
              v-model="item.row.isSelected">
            <span></span>
          </label>
        </template>
      </grid>
    </template>
  </portlet-area>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-6 modal_heading">
            <h3 class="modal-title">{{$t('navigation.attendanceFineGenerate')}}</h3>
            <p>Confirmation</p>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="close " data-dismiss="modal">
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to generate Challan of these students?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary btn-hover btn-sm" type="submit" data-dismiss="modal">
            <i class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button class="btn btn-hover btn-sm btn-primary" data-dismiss="modal" type="submit" :disabled="data.length==0"
            @click="insertModel">
            <i class="la la-save"></i> {{$t('button.save')}}</button>
        </div>
      </div>
    </div>
  </div>
</page-area>