<modal name="Configration-add-edit-model" :width="1000" :min-height="200" :pivot-y="0.5" :reset="true"
  :scrollable="true" :adaptive="true" transition="bounce" top="10" height="auto" @before-open="beforeModalOpen">
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.cityConfigurationQuiz')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.cityConfigurationQuiz')}} </a>
    </div>
  </template>

  <portlet-area action="1" :title="$t('navigation.cityConfigurationQuiz')">


    <template slot="portlet-body">

      <div class="row">

        <div class="col-md-3">

          <div class="form-group validated" :class="{ 'has-error': $v.datas.sessionId.$error }">
            <label class="form-control-label">{{$t('modal.reports.feeReports.session')}}<span style="color:red">
                *</span></label>
            <select-ex :options="sessionList" :disabled="true"  keyValue="sessionId" displayValue="fullName" v-model="datas.sessionId">
            </select-ex>
            <span v-if="$v.datas.sessionId.$error" class="text-danger">Session is required.</span>

          </div>
        </div>
        <div class="col-md-3 form-group" :class="{ 'has-error': $v.datas.cityId.$error }">
          <label class="form-control-label">{{$t('modal.setupCampus.city')}}<span style="color:red">
              *</span>
          </label>
          <select-ex :options="cityList" :disabled="true"  keyValue="cityId" displayValue="fullName" v-model="datas.cityId">
          </select-ex>
          <span v-if="$v.datas.cityId.$error" class="text-danger">City is required.</span>

        </div>

        <div class="col-md-3">
          <div class="form-group" :class="{ 'has-error': $v.datas.classId.$error }">
            <label>{{$t('modal.notification.class')}}</label><span style="color:red">
              *</span>
            <select-ex :options="classList" :disabled="true"  keyValue="classId" displayValue="fullName"
              v-model.trim="datas.classId"></select-ex>
            <span v-if="$v.datas.classId.$error" class="text-danger">Class is required.</span>

          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group" :class="{ 'has-error': $v.datas.quizName.$error }">
            <label>Quiz Name</label><span style="color:red">
              *</span>
            <input v-model="datas.quizName" type="text" class="form-control form-control-sm p-4">
            <span v-if="$v.datas.quizName.$error" class="text-danger">League Name is required.</span>

          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-3" style="margin-top: 8px;">
          <div class="form-group" :class="{ 'has-error': $v.datas.fromDate.$error }">
            <label class="form-control-label">From Date</label>
            <span style="color:red">*</span>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model="fromdate"
              format="DD/MM/YYYY HH:mm" lang="en" v-mask="'##/##/#### ##:##'" type="datetime"
              :not-before="currDate"></date-picker>
            <span v-if="$v.datas.fromDate.$error" class="text-danger">From Date is required.</span>

          </div>
        </div>
        <div class="col-md-3 form-group validated" :class="{ 'has-error': $v.datas.todate.$error }"
          style="margin-top: 8px;">
          <div class="form-group">
            <label class="form-control-label">To Date</label>
            <span style="color:red">*</span>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model="todate"
              format="DD/MM/YYYY HH:mm" lang="en" v-mask="'##/##/#### ##:##'" type="datetime"
              :not-before="datas.fromDate"></date-picker>
          </div>
          <span v-if="$v.datas.toDate.$error" class="text-danger">To Date is required.</span>

        </div>
        <div class="col-md-3" style="margin-top: 8px;">
          <div class="form-group" :class="{ 'has-error': $v.datas.calendarFromDate.$error }">
            <label class="form-control-label">Calendar From Date</label>
            <span style="color:red">*</span>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model="calendarfromdate"
              format="DD/MM/YYYY" lang="en" v-mask="'##/##/####'"></date-picker>
            <span v-if="$v.datas.calendarFromDate.$error" class="text-danger">Calendar From Date is required.</span>

          </div>
        </div>
        <div class="col-md-3" style="margin-top: 8px;">
          <div class="form-group" :class="{ 'has-error': $v.datas.calendarToDate.$error }">
            <label class="form-control-label">Calendar To Date</label>
            <span style="color:red">*</span>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model="calendartodate"
              format="DD/MM/YYYY" lang="en" v-mask="'##/##/####'" :not-before="datas.calendarFromDate"></date-picker>
            <span v-if="$v.datas.calendarToDate.$error" class="text-danger">Calendar To Date is required.</span>

          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-3" style="margin-top: 1px;">
          <div class="form-group" :class="{ 'has-error': $v.datas.processedOn.$error }">
            <label class="form-control-label">ProcessedOn Date</label>
            <span style="color:red">*</span>  
              <date-picker class="input-28" id="change-width" ref="changeWidth" v-model="processdate"
              format="DD/MM/YYYY HH:mm" lang="en" v-mask="'##/##/####'" type="datetime"
              :not-before="processdatechek"></date-picker>

            <span v-if="$v.datas.processedOn.$error" class="text-danger">ProcessedOn Date is required.</span>

          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" :class="{ 'has-error': $v.datas.testFrequency.$error }">
            <label>Test Frequency</label><span style="color:red">
              *</span>
            <input v-model="datas.testFrequency" type="text" class="form-control form-control-sm p-4">
            <span v-if="$v.datas.testFrequency.$error" class="text-danger"> Test Frequency is required.</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" :class="{ 'has-error': $v.datas.timePerQuestion.$error }">
            <label>Time PerQuestion</label><span style="color:red">
              *</span>
            <input v-model="datas.timePerQuestion" type="text" class="form-control form-control-sm p-4">
            <span v-if="$v.datas.timePerQuestion.$error" class="text-danger"> TimePerQuestion is required.</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group" :class="{ 'has-error': $v.datas.marksPerQuestion.$error }">
            <label>Marks PerQuestion</label><span style="color:red">
              *</span>
            <input v-model="datas.marksPerQuestion" type="text" class="form-control form-control-sm p-4">
            <span v-if="$v.datas.marksPerQuestion.$error" class="text-danger"> MarksPerQuestion is required.</span>
          </div>
        </div>
       
      </div>
      
      <div class="row">
        <div class="col-md-3" style="margin-top: 1px;">
          <div class="form-group" :class="{ 'has-error': $v.datas.processedOn.$error }">
            <label class="form-control-label">Notification Description</label>
             <input v-model="datas.notificationDescription" type="text" class="form-control form-control-sm p-4">

 
          </div>
        </div>
         
       
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-outline-secondary btn-hover btn-sm" @click="cancel"> <i class="la la-close"></i>
              {{$t('button.close')}}</button>
            <button class="btn btn-light btn-hover btn-sm btn-primary" @click="save"><i class="la la-floppy-o"></i>
              {{$t('button.save')}}</button>
          </div>
        </div>
      </div>
    </template>
  </portlet-area>
  </div>
</modal>