<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.dashboard')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"
        ><i class="flaticon2-shelter"></i
      ></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link"> CMS Student Survey / June 2024 </a>
    </div>
  </template>
  <portlet-area action="1" title="CMS Student Survey / June 2024">
    <template slot="portlet-body">
        <tabs>
            
           <!-- <tab name="Survey Comparison"  >
          <template>
            <over-all-result-New-Component  :Survey-Id='surveyInfo' ></over-all-result-New-Component>
          </template>
        </tab> -->
        <tab name="Overall Statistics" :selected="true" >
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="card-box" style="background: #273b73eb;">
                    <div class="inner">
                      <p class="mb-4">Summary</p>
                      <a href="javascript:void(0)"   @click="loadTotalSurvey()" style="color: #fff; position: absolute; right: 10px; top: 10px;"><i class="fa fa-refresh" aria-hidden="true"></i>   </a>
                      <div class="row" v-for="item in survey">
                        <div class="col-md-4 text-center">
                          <h3 class="text-center">67779</h3>
                          <span>Total Students</span>
                        </div>
                        <div class="col-md-4 text-center">
                          <h3 class="text-center">{{item.totalSubmitted}}</h3>
                          <span>Total Submitted</span>
                        </div>
                        <div class="col-md-4 text-center">
                          <h3 class="text-center">{{item.average}}%</h3>
                          <span>Response Rate</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-8">
              <nav aria-label="breadcrumb" v-show="breadcrums.length>0">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" v-for="(val,index) in breadcrums">
                    <a
                      @click.prevent="returnBack(index)"
                      style="cursor: pointer;"
                      :class="breadcrums.length-1==index?'font-weight-bold':''"
                      >{{val}}</a
                    >
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-md-4 text-right mb-2">
         
              <button
              type="button"
              class="btn btn-hover btn-sm btn-outline-primary"
              @click="refreshdata"
            >
              ReFresh
            </button>
          
              <button
                type="button"
                class="btn btn-hover btn-sm btn-outline-primary"
                @click="loadPrevious"
                style="margin-right: 10px;"
              >
                <i class="la la-arrow-left"></i> Go Back
              </button>
             
            </div>
            <div class="col-md-12">
              <div class="table-responsive mt-3">
                <div class="fixed-header-table ">
                  <table style="width:100%;" class="customTable">
                    <thead>
                      <tr>
                        <th rowspan="2">
                          Description
                        </th>
                        <th>
                          Total Survey
                        </th>
                        <th>
                          Total Submitted
                        </th>
                        <th>
                          Response Rate
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-if="checkCity"
                        v-for="item in surveyStatistics"
                        class="rowHover"
                        style="cursor: pointer;"
                        @click="loadSubCityData(item.iddd,item.next,item.fullName)"
                      >
                        <td>
                          <span v-html="item.fullName"></span>
                        </td>
                        <td>
                          {{item.total}}
                        </td>
                        <td>
                          {{item.submitted}}
                        </td>
                        <td>
                          {{item.response}} %
                        </td>
                      </tr>
                      <tr
                        v-if="checkSubCity"
                        v-for="item in subCityData"
                        class="rowHover"
                        style="cursor: pointer;"
                        @click="loadCampusData(item.iddd,item.next,item.fullName)"
                      >
                        <td>
                          <span v-html="item.fullName"></span>
                        </td>
                        <td>
                          {{item.total}}
                        </td>
                        <td>
                          {{item.submitted}}
                        </td>
                        <td>
                          {{item.response}} %
                        </td>
                      </tr>
                      <tr
                        v-if="checkCampus"
                        v-for="item in subCampusData"
                        class="rowHover"
                        style="cursor: pointer;"
                      >
                        <td>
                          <span v-html="item.fullName"></span>
                        </td>
                        <td>
                          {{item.total}}
                        </td>
                        <td>
                          {{item.submitted}}
                        </td>
                        <td>
                          {{item.response}} %
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab>
          <!-- <tab name="City Comparison">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label">Sub-City 1</label>

                <select-ex
                  :options="data"
                  keyValue="subCityId"
                  displayValue="name"
                  v-model="subCityId1"
                >
                </select-ex>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label">Sub-City 2</label>

                <select-ex
                  :options="data"
                  keyValue="subCityId"
                  displayValue="name"
                  v-model="subCityId2"
                >
                </select-ex>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label">Sub-City 3</label>

                <select-ex
                  :options="data"
                  keyValue="subCityId"
                  displayValue="name"
                  v-model="subCityId3"
                >
                </select-ex>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <button
                class="btn btn-primary text-right btn-light btn-hover btn-sm"
                @click="loadCityWiseEx()"
              >
                Compare
              </button>
            </div>
          </div>
          <div class="row" v-if="cityComparisonList.length">
            <div class="col-md-12">
              <div class="table-responsive">
                <div class="fixed-header-table">
                  <table class="customTable" style="width:100%;">
                    <thead>
                      <tr>
                        <th style="width: 40%;"></th>
                        <th>
                          <b>{{subCity1Name}}</b>
                        </th>
                        <th>
                          <b>{{subCity2Name}}</b>
                        </th>
                        <th>
                          <b>{{subCity3Name}}</b>
                        </th>
                        <th>
                          <b>Overall</b>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in cityComparisonList">
                        <td
                          style="width: 40%; text-decoration: none !important;"
                        >
                          {{item.question.replace(/\(Please.*/,'')}} &nbsp;
                          <span
                            class="kt-badge  kt-badge--primary kt-badge--inline kt-badge--pill"
                            v-if="item.course"
                            >{{item.course}}</span
                          >
                          &nbsp;
                          <button
                            v-if="item.question=='How likely are you to recommend CMS to others? (Please rate out of 10, with 0 being the lowest and 10 being the highest)'"
                            title="NPS score ranges between -100 and +100. A 'positive' score or NPS above 0 is considered 'Good',
                             +50 is 'Excellent' and +70 is considered 'World Class'"
                            class="circle-btn"
                          >
                            <i class="fa fa-info"></i>
                          </button>
                        </td>
                        <td>
                          {{item.subCity1Rating}}
                        </td>
                        <td>
                          {{item.subCity2Rating}}
                        </td>
                        <td>
                          {{item.subCity4Rating}}
                        </td>
                        <td>
                          {{item.rating}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="cityComparisonListEx.length">
            <div class="col-md-12">
              <div class="table-responsive">
                <div class="fixed-header-table">
                  <table class="customTable" style="width:100%;">
                    <thead>
                      <tr>
                        <th style="width: 40%;"></th>
                        <th>
                          <b>{{subCity1Name}}</b>
                        </th>
                        <th>
                          <b>{{subCity2Name}}</b>
                        </th>
                        <th>
                          <b>Overall</b>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in cityComparisonListEx">
                        <td
                          style="width: 40%; text-decoration: none !important;"
                        >
                          {{item.question.replace(/\(Please.*/,'')}} &nbsp;
                          <span
                            class="kt-badge  kt-badge--primary kt-badge--inline kt-badge--pill"
                            v-if="item.course"
                            >{{item.course}}</span
                          >
                          &nbsp;
                          <button
                            v-if="item.question=='How likely are you to recommend Campus to another student? Please rate out of 10, with 0 being the lowest and 10 being the highest.'"
                            title="NPS score ranges between -100 and +100. A 'positive' score or NPS above 0 is considered 'Good',
                             +50 is 'Excellent' and +70 is considered 'World Class'"
                            class="circle-btn"
                          >
                            <i class="fa fa-info"></i>
                          </button>

                        </td>
                        <td>
                          {{item.subCity1Rating}}
                        </td>
                        <td>
                          {{item.subCity2Rating}}
                        </td>
                        <td>
                          {{item.rating}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab> 
         <tab name="Comments" >
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label"
                  >{{$t('modal.reports.feeReports.city')}}</label
                >

                <select-ex
                  :options="cityList"
                  keyValue="cityId"
                  displayValue="fullName"
                  v-model="cityId"
                >
                </select-ex>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label"
                  >{{$t('modal.reports.feeReports.subCity')}}</label
                >

                <select-ex
                  :options="subCityList"
                  keyValue="subCityId"
                  displayValue="subCityName"
                  v-model="subCityId"
                >
                </select-ex>
              </div>
            </div>

            <div class="col-md-3 form-group">
              <label class="form-control-label"
                >{{$t('modal.reports.feeReports.campus')}}
              </label>
              <select-ex
                :options="campusCityList"
                keyValue="campusId"
                displayValue="campusName"
                v-model="campusId"
                groupBy="cityName"
              >
              </select-ex>
            </div>
            <div class="col-md-3 form-group">
              <label class="form-control-label"
                > Building 
              </label>
              <select-ex
                :options="building"
                keyValue="buildingName"
                displayValue="buildingName"
                v-model="buildingname" 
                >
              </select-ex>
            </div>

            <div class="col-md-3 form-group">
              <label class="form-control-label"
                >{{$t('modal.reports.feeReports.program')}}
              </label>
              <select-ex
                :options="programListEx"
                keyValue="programId"
                displayValue="fullName"
                v-model="programId"
              ></select-ex>
            </div>

            <div class="col-md-3 form-group">
              <label class="form-control-label"
                >{{$t('modal.reports.feeReports.class')}}
              </label>
              <select-ex
                :options="classList"
                keyValue="classId"
                displayValue="fullName"
                v-model.trim="classId"
              >
              </select-ex>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right mb-5">
              <button
                @click="loadcsv"
                class="btn btn-light btn-hover btn-sm btn-outline-primary"
              >
                {{$t('button.exporttoexcel')}}<i class="la la-file-excel-o"></i>
              </button>
            </div>
          </div>
          <div class="position-relative">
            <div class="row">
              <div class="col-md-12">
                <nav class="survey-nav">
                  <input
                    type="text"
                    placeholder="Tap to Search"
                    v-on:keyup.enter="querySearch(search)"
                    v-model="search"
                  />
                  <div class="d-flex" v-for="(item,index) in searchArr">
                    <div class="hightlight-div">
                      {{item}} &nbsp;
                      <i
                        class="fa fa-times"
                        @click.prevent="deleteSearch(index)"
                      ></i>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <grid
                :data="filterArr"
                :columns="columns"
                pre="modal.surveyComment."
              >
              </grid>
            </div>
          </div>
          <div class="row mt-5">
            <span v-if="filterArr.length==0">
              There is no record.
            </span>
          </div>
        </tab> -->

       
      </tabs>
    </template>
  </portlet-area>
</page-area>
