




<modal name="add-edit-model" :clickToClose="false" :min-width="200" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="false" transition="bounce" top="10" width="40%" height="auto"
    @before-open="beforeModalOpen" @before-close="beforeModalClose">

    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-10 modal_heading">
                <h4 class="modal-title">{{$t('navigation.LevelProgramClassMap')}}</h4>
                <p> {{title}} </p>
            </div>
            <div class="col-md-2 text-right">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close" @click="cancel">
                    <i class="la la-close"></i>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" v-if="!IsNewRecord">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="kt-option kt-option-custom">
                            <span class="kt-option__label">
                                <span class="kt-option__head">
                                    <span class="kt-option__title mt-1">
                                        {{$t('modal.setupClass.recordStatus')}}
                                    </span>
                                </span>
                            </span>
                            <span class="kt-switch kt-switch--sm kt-switch--icon">
                                <label class="m-0">
                                    <input type="checkbox" cfullNamehecked="checked" v-model="isActive">
                                    <span></span>
                                </label>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label>Level<span style="color:red"> *</span></label>
                      <select-ex :options="levelList" keyValue="levelId" displayValue="fullName"  v-model.trim="data.levelId"
                      ></select-ex>
                      <div class="invalid-feedback" v-show="$v.data.levelId.$error">
                        <span v-if="!$v.data.levelId.required">{{$t('validation.required')}}</span>
                    </div>
                    </div>
                  </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">{{$t('modal.setupProgramDetails.program')}}<span style="color:red"> *</span></label>
                    <select-ex :options="programList" keyValue="programId" displayValue="fullName"
                      groupby="fullName"  v-model.trim="data.programId">
                    </select-ex>
                  </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{$t('navigation.setupClass')}}<span style="color:red"> *</span></label>
                  <select-ex :options="classList" keyValue="classId" displayValue="fullName"  v-model.trim="data.classId"
                  ></select-ex>
                </div>
              </div>
            </div>       
        </div>
        <div class="modal-footer">
            <div class="row text-right">
                <div class="col-md-12 text-right">
                    <button class="btn btn-outline-secondary btn-hover btn-sm" @click="cancel"> <i
                            class="la la-close"></i>
                        {{$t('button.close')}}</button>
                    <button class="btn btn-hover btn-sm btn-primary" :disabled="!allowSubmit" @click="saveModel"><i class="la la-floppy-o"></i>
                        {{$t('button.save')}}</button>
                </div>
            </div>
        </div>
    </div>
</modal>