<div class="kt-portlet" style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);">
    <div class="kt-portlet__head">
        <div class="row w-100">
            <div class="col-md-6">
                <div class="kt-portlet__head-label mt-4">
                    <h3 class="kt-portlet__head-title">
                        <slot name="title"></slot>
                    </h3>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="mt-4">
                    <slot name="toolbar"></slot>
                    <slot name="cross">
                    </slot>
                    <div class="button-collapse collapse d-inline" title="Collapse">
                        <i id="up" v-if="bodyVisible" class="la la-angle-up" @click.prevent="collapseBody()"></i>
                        <i id="down" v-if="!bodyVisible" class="la la-angle-down" @click.prevent="openBody()"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="kt-portlet__body" kt-hidden-height="298" v-if="bodyVisible" style="min-height: 210px;">
        <div class="kt-portlet__content">
            <slot name="content"></slot>
        </div>
    </div>
</div>