<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->




<!-- <modal name="add-edit-model" :clickToClose="false" :min-width="200" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="false" transition="nice-modal-fade" width="30%" height="auto" @before-open="beforeModalOpen">
    <div class="modal-content">
        <div class="modal-header clearfix text-left  m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered"
            style="margin-bottom: 0px;">
            <h5>Model
                <span class="semi-bold">{{title}}</span>
            </h5>
            <div class="close" v-if="IsNewRecord==false">
                <input class="switch" type="checkbox" v-model="isActive">
            </div>
        </div>
        <div class="modal-body">
            <form role="form">
                <span class="alert-danger" v-if="allowSubmit != true">Please fill all the required fields</span>
                <div class="form-group-attached">
                    <div class="col-md-12" style="padding-top: 15px">



                        <vs-input label-placeholder="Full Name" v-model="data.fullName" /><br>

                        <vs-input label-placeholder="C Code" v-model="data.cCode" /><br>

                        <vs-input label-placeholder="Abbreviation" v-model="data.abbreviation" /><br>



                        <vs-input label-placeholder="Order Number" v-model="data.orderNumber" /><br>




                    </div>
                </div>
            </form>
            <div class="m-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <button class="btn btn-primary" :disabled="!allowSubmit" @click="saveModel">Save</button>
                        <button class="btn btn-danger" @click="cancel">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</modal> -->

<!-- new... -->





<modal name="add-edit-model" :clickToClose="false" :min-width="200" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="false" transition="bounce" top="10" width="40%" height="auto"
    @before-open="beforeModalOpen">

    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-10 modal_heading">
                <h4 class="modal-title">{{$t('navigation.chapter')}}</h4>
                <p> {{title}} </p>
            </div>
            <div class="col-md-2 text-right">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close" @click="cancel">
                    <i class="la la-close"></i>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" v-if="!IsNewRecord">



                <div class="col-md-6">
                    <div class="form-group">
                        <label class="kt-option kt-option-custom">
                            <span class="kt-option__label">
                                <span class="kt-option__head">
                                    <span class="kt-option__title mt-1">
                                        {{$t('modal.setupClass.recordStatus')}}
                                    </span>
                                </span>
                            </span>
                            <span class="kt-switch kt-switch--sm kt-switch--icon">
                                <label class="m-0">
                                    <input type="checkbox" checked="checked" v-model="isActive">
                                    <span></span>
                                </label>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group validated m-0">
                        <label class="form-control-label">Course<span style="color:red">
                                *</span></label>

                        <select-ex :options="programCourse" keyValue="courseId" displayValue="fullName"
                            v-model.trim="data.courseId">
                        </select-ex>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validated">
                        <label class="form-control-label">{{$t('modal.chapter.grid.fullName')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control form-control-sm"
                            :class="{'is-invalid': $v.data.fullName.$error}" v-model.trim="data.fullName"
                            @input="$v.data.fullName.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.fullName.$error">
                            <span v-if="!$v.data.fullName.required">{{$t('validation.required')}}</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validated">
                        <label class="form-control-label">
                            {{$t('modal.chapter.description')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control form-control-sm" v-model.trim="data.description"
                            :class="{'is-invalid' : $v.data.description.$error}" @input="$v.data.description.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.description.$error">
                            <span v-if="!$v.data.description.required">{{$t('validation.required')}}</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validated">
                        <label class="form-control-label">
                            {{$t('modal.chapter.abbreviation')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control form-control-sm" v-model.trim="data.abbreviation"
                            :class="{'is-invalid' : $v.data.abbreviation.$error}"
                            @input="$v.data.abbreviation.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.abbreviation.$error">
                            <span v-if="!$v.data.abbreviation.required">{{$t('validation.required')}}</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group validated">
                        <label class="form-control-label">
                            {{$t('modal.chapter.orderNo')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control form-control-sm" v-model.trim="data.orderNo"
                            :class="{'is-invalid' : $v.data.orderNo.$error}" @input="$v.data.orderNo.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.orderNo.$error">
                            <span v-if="!$v.data.orderNo.required">{{$t('validation.required')}}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row text-right">
                <div class="col-md-12 text-right">
                    <button class="btn btn-outline-secondary btn-hover btn-sm" @click="cancel"> <i
                            class="la la-close"></i>
                        {{$t('button.close')}}</button>
                    <button class="btn btn-hover btn-sm btn-primary" :disabled="!allowSubmit" @click="saveModel"><i
                            class="la la-floppy-o"></i>
                        {{$t('button.save')}}</button>
                </div>
            </div>
        </div>
    </div>
</modal>