<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->
<modal name="add-edit-model" :clickToClose="false" :min-width="200" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="false" transition="bounce" top="10" height="auto" width="60%"
    @before-open="beforeModalOpen">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-6 modal_heading">
                <h3 class="modal-title">{{$t('navigation.routeStudentLink')}}</h3>
                <p> {{title}} </p>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close" @click="cancel">
                    <i class="la la-close"></i>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" v-if="!IsNewRecord">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="kt-option kt-option-custom">
                            <span class="kt-option__label">
                                <span class="kt-option__head">
                                    <span class="kt-option__title mt-1">
                                        {{$t('modal.routeStudentLink.recordStatus')}}
                                    </span>
                                </span>
                            </span>
                            <span class="kt-switch kt-switch--sm kt-switch--icon">
                                    <label class="m-0">
                                        <input type="checkbox" checked="checked" v-model="isActive">
                                        <span></span>
                                    </label>
                                </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" v-if="studentList">
                        <label>{{$t('modal.routeStudentLink.refferenceNoStudentNameRollNo')}}<span style="color:red">
                                *</span></label>
                        <select-ex :options="studentList" keyValue="admissionFormId" displayValue="fullName"
                            v-model="data.admissionFormId" @input="loadRouteInfoEx">
                        </select-ex>
                        <!-- <v-select label="fullName" v-model="data.admissionFormId" :options="studentList"
                                    :reduce="option => option.admissionFormId">
                                    <template slot="option" slot-scope="option">
                                        {{option.refferenceNo}} : {{option.fullName}}
                                        {{model.rollNo ? '(' + model.rollNo + ')' : ''}}
                                    </template>
                                </v-select> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{$t('modal.routeStudentLink.routeInfo')}}<span style="color:red">
                                *</span></label>
                        <select-ex :options="routeListEx" keyValue="routeId" displayValue="routeTitle"
                            v-model="data.routeId" @input="loadRouteDetailInfo">
                        </select-ex>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{$t('modal.routeStudentLink.routeDetailInfo')}}<span style="color:red">
                                *</span></label>
                        <select-ex :options="routeDetailList" keyValue="routeDetailId" displayValue="stopName"
                            v-model="data.routeDetailId">
                        </select-ex>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            {{$t('modal.routeStudentLink.startingDate')}}<span style="color:red">
                                *</span></label>
                        <!-- <input type="date" class="form-control form-control-sm"
                            :value="data.startingDtae && data.startingDtae.toString().split('T')[0]"
                            @input="data.startingDtae = $event.target.value" required> -->

                        <date-picker class="input-28" id="change-width" ref="changeWidth" format="DD/MM/YYYY" lang="en"
                           v-model="data.startingDtae"
                           >
                        </date-picker>
                    </div>
                </div>
                <div class="col-md-6" v-if="IsNewRecord==true">
                    <div class="form-group">
                        <label>
                            {{$t('modal.routeStudentLink.challanDueDate')}}<span style="color:red">
                                *</span></label>
                        <!-- <input type="date" class="form-control form-control-sm"
                            :value="dueDate && dueDate.toString().split('T')[0]" @input="dueDate = $event.target.value"
                            required> -->

                        <date-picker class="input-28" id="change-width" ref="changeWidth" format="DD/MM/YYYY" lang="en"
                           v-model="dueDate">
                        </date-picker>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-outline-secondary btn-hover btn-sm" @click="cancel"> <i
                            class="la la-close"></i>
                        {{$t('button.close')}}</button>
                    <button class="btn btn-light btn-hover btn-sm btn-primary" :disabled="allowsubmit" @click="saveModel"><i
                            class="la la-floppy-o"></i> {{$t('button.save')}}</button>
                    <!-- <button class="btn btn-light btn-hover btn-sm btn-primary"  disabled><i class="la la-floppy-o"></i>
                        {{$t('button.save')}}</button> -->
                </div>
            </div>
        </div>
    </div>
</modal>