<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.bsetup')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.admissionEligibilityCriteria')}} </a>
    </div>
  </template>

  <portlet-area action="1" :title="$t('navigation.admissionEligibilityCriteria')">
    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">

            <label>{{$t('navigation.setupSession')}}</label>
            <select-ex :options="sessionList" keyValue="sessionId" displayValue="fullName" v-model="sessionId"
              @input="refreshData">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('navigation.setupCampus')}}</label>
            <select-ex :options="campusCityList" keyValue="campusId" displayValue="campusName" groupBy="cityName"
              v-model="campusId" @input="refreshData"></select-ex>
          </div>
        </div>
      </div>
      <grid :data="data" :columns="columns" pre="modal.admissionEligibilityCriteria.">
        <template slot="action-area">
          <button v-if="canAdd" @click="insertModel" class="btn btn-light btn-hover btn-sm btn-outline-primary">
            <i class="la la-plus"></i> {{$t('button.insert')}}
          </button>
          <button @click="refreshData" class="btn btn-light btn-hover btn-sm btn-outline-primary">
            <i class="la la-refresh"></i> {{$t('button.reload')}}
          </button>
        </template>
        <template slot="action" slot-scope="item">
          <button @click="editModel(item.row)" v-if="canEdit" title="Edit" type="button"
            class="btn btn-outline-primary btn-icon btn-sm btn-circle">
            <i class="la la-edit"></i>
          </button>

          <button @click="deleteModel(item.row)" v-if="canDelete" title="Delete" type="button"
            class="btn btn-outline-danger btn-icon btn-sm btn-circle">
            <i class="la la-trash"></i>
          </button>
        </template>

        <!-- filters -->
        <template slot="minPassingYear" slot-scope="item">
          {{item.row.minPassingYear | onlyYear}}
        </template>
        <template slot="fromDob" slot-scope="item">
          {{item.row.fromDob | formatDMY}}
        </template>
        <template slot="toDob" slot-scope="item">
          {{item.row.toDob | formatDMY}}
        </template>
        <template slot="statusId" slot-scope="item">
          <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill"
            v-if="item.row.statusId == 1">Active</span>
          <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill" v-else>InActive</span>
        </template>
      </grid>
    </template>
  </portlet-area>
  <add-edit-model v-on:submit="refreshData"></add-edit-model>
  <delete-model v-on:submit="refreshData"></delete-model>
</page-area>