<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Questions
      </div>
      <div class="card-body">

        <div v-if="canRead">


          <grid :data="data" :columns="columns">
            <template slot="operation-links">
              <div class="row">

                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="loadCourse" class="form-control form-control-sm" placeholder="Class" v-model="classId" required>
                      <option :key="index" :value="model.classId" v-for="(model,index) in classList">{{model.fullName}}</option>
                    </select>
                    <label>Class</label>
                  </div>
                  <!-- <vs-select @change="loadCourse" autocomplete class="selectExample" placeholder="Class" v-model="classId">
                        <vs-select-item :key="index" :value="model.classId" :text="model.fullName" v-for="(model,index) in classList" />
                      </vs-select> -->
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="loadChapters" class="form-control form-control-sm" placeholder="Course" v-model="courseId" required>
                      <option :key="index" :value="model.courseId" v-for="(model,index) in courseList">{{model.courseName}}</option>
                    </select>
                    <label>Course</label>
                  </div>
                  <!-- <vs-select @change="loadChapters" autocomplete class="selectExample" placeholder="Course" v-model="courseId">
                        <vs-select-item :key="index" :value="model.courseId" :text="model.courseName" v-for="(model,index) in courseList" />
                      </vs-select> -->
                </div>


                <div class="col-md-2">
                  <div class="form-group">
                    <select @change="loadTopics" class="form-control form-control-sm" placeholder="Chapter" v-model="chapterId" required>
                      <option :key="index" :value="model.chapterId" v-for="(model,index) in chapterList">{{model.fullName}}</option>
                    </select>
                    <label>Chapter</label>
                  </div>
                  <!-- <vs-select @change="loadTopics" autocomplete class="selectExample" placeholder="Chapter" v-model="chapterId">
                        <vs-select-item :key="index" :value="model.chapterId" :text="model.fullName" v-for="(model,index) in chapterList" />
                      </vs-select> -->
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select @change="refreshData" class="form-control form-control-sm" placeholder="Topics" v-model="topicId" required>
                      <option :key="index" :value="model.topicId" v-for="(model,index) in topicList">{{model.fullName}}</option>
                    </select>
                    <label>Topics</label>
                  </div>
                  <!-- <vs-select @change="refreshData" autocomplete class="selectExample" placeholder="Topics" v-model="topicId">
                        <vs-select-item :key="index" :value="model.topicId" :text="model.fullName" v-for="(model,index) in topicList" />
                      </vs-select> -->
                </div>

                <div class="col-md-2">
                  <button v-if="canAdd" @click="insertModel" class="b-add">
                    <feather icon="plus-circle"></feather>
                  </button>
                  <button @click="refreshData" class="b-refresh">
                    <feather icon="refresh-ccw" ></feather>
                  </button>
                </div>
              </div>
            </template>
            <template slot="statusId" slot-scope="item">
              {{item.row.statusId==1?'Active':'InActive'}}
            </template>
            <template slot="action" slot-scope="item">
              <a @click="editModel(item.row)" v-if="canEdit">
                <feather icon="edit" xclass="b-edit"></feather>
              </a>
              <a @click="deleteModel(item.row)" v-if="canDelete">
               <feather icon="trash" xclass="b-delete"></feather>
              </a>
            </template>

          </grid>
        </div>
      </div>
    </div>
  </div>

  <add-edit-model v-on:submit="refreshData"></add-edit-model>
  <delete-model v-on:submit="refreshData"></delete-model>
</div>