<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->



<modal name="add-edit-model" :clickToClose="false" :min-width="200" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="false" transition="nice-modal-fade" width="50%" height="auto"
    @before-open="beforeModalOpen">
    <div class="modal-content">

        <div class="modal-header clearfix text-left">

            <div class="row">
                <div class="col-md-8">
                    <h5>
                        <span class="semi-bold">{{title}}</span>
                    </h5>


                </div>
                <div class="col-md-4 text-right">
                    <a href="#" @click="cancel" class="cancel">
                        <i class="fa fa-close"></i>
                    </a>

                </div>
            </div>

        </div>
        <div class="modal-body" style="height: 450px;overflow: auto;">
            <div class="row" v-for="(item,index) in Status">
                <div class="col-md-2"><strong>Total: </strong>{{item.scheduled}}</div>
                <div class="col-md-3"><strong>Present: </strong>{{item.held}}</div>
                <div class="col-md-2"><strong>Absent: </strong>{{item.approved}}</div>
                <div class="col-md-2"><strong>Leave: </strong>{{item.unApproved}}</div>
                <div class="col-md-3"><strong>%: </strong>{{item.percentage}}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12"><strong>DeviceInfo: </strong>{{Info}}</div>

            </div>
            <div class="row">
                <div class="table-responsive">
                    <div class="dataTables_wrapper no-footer">
                        <table class="table">
                            <thead>
                                <tr role="row">
                                    <th>Sr#</th>
                                    <th>Roll No</th>
                                    <th>Name</th>
                                    <th>Attendance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in data">
                                    <td>{{index+1}}</td>
                                    <td class="v-align-middle">{{item.rollNo}}</td>
                                    <td class="v-align-middle">{{item.fullName}}</td>
                                    <td class="v-align-middle">
                                        <strong>
                                            <span v-if="item.status == 'Absent'"
                                                style="color:red;">{{item.status}}</span>
                                            <span v-if="item.status == 'Leave'"
                                                style="color:blue;">{{item.status}}</span>
                                            <span v-if="item.status == 'Present'"
                                                style="color:green;">{{item.status}}</span>
                                        </strong> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" type="submit" @click="cancel()">Close</button>
        </div>
    </div>
</modal>