<page-area>
   <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.qserup')}}</h3>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.board')}} </a>
    </div>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.BoardUniversitySearchStudent')}} </a>
    </div>
  </template>

  <portlet-area action="1" :title="$t('Board/University Search Student')">
    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Student ID/ Student Name/ Father Name/Registration No</label>
            <input type="text" class="form-control " v-model="filterString"
              v-on:keydown.enter="getstudent">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
          </br>
            <label>{{$t('modal.reports.feeReports.class')}}</label>
            <select-ex :options="classList" keyValue="classId" displayValue="fullName"
              v-model="classId" @input="getstudent">
            </select-ex>
          </div>
        </div>
      </div>
      <grid :data="studentRecord" :columns="columns" pre="modal.StudentBoardUnivertySearch.">

        <template slot="action" slot-scope="item">
          <button @click="editStudent(item.row)" class="btn btn-outline-primary btn-icon btn-sm btn-circle"
            data-toggle="tooltip" data-placement="top" title="Edit Student Profile">
            <i class="la la-edit"></i>
          </button>
          <button @click="editModel(item.row)" class="btn btn-outline-success btn-icon btn-sm btn-circle"
            data-toggle="tooltip" data-placement="top" title="View Student Profile">
            <i class="la la-user"></i>
          </button>
          <button v-if="item.row.rollNo.length>0" class="btn btn-outline-info btn-icon btn-sm btn-circle"
            @click="ShowPassword(item.row)" data-toggle="tooltip" data-placement="top" title="Send Password">
            <i class="la la-envelope-o"></i>
          </button>
          <button v-if="item.row.rollNo.length>0" class="btn btn-outline-info btn-icon btn-sm btn-circle"
            @click="ResetPassword(item.row)" data-toggle="tooltip" data-placement="top" title="Reset Password">
            <i class="la la-key"></i>
          </button>
        </template>


      </grid>
    </template>
  </portlet-area>
  <edit-model></edit-model>
  <add-edit-model></add-edit-model>
  <studentpass></studentpass>
  <microsofpass></microsofpass>
</page-area>