<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->


<!-- <modal name="student-sub-installment-add-edit-model" :clickToClose="false" :min-width="200" :min-height="200"
  :pivot-y="0.5" :reset="true" :scrollable="true" :adaptive="false" transition="nice-modal-fade" width="80%" top="10"
  height="auto" @before-open="beforeModalOpen">

  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-4">
          <a href="#" @click="cancel" class="cancel">
            <i class="fa fa-close"></i>
          </a>
        </div>
        <div class="col-md-4">
          <div class="modal-title">
            SubInstallment&nbsp;-&nbsp;<span class="font12">{{title}}</span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <input type="checkbox" class="float-right" v-model="manualSubinstallment" style="margin-top: 3px;"> <label
            class="ModeColor" style="margin-bottom: 0; margin-right:6px">Manual</label> </input>
        </div>
      </div>
    </div>
    <div class="modal-body ModeColor">
      <div class="form-group m-form__group m--margin-top-10">
        <div class="row">
          <div class="col-md-4 offset-4">
            <div class="form-group">
              <select @change="filterData" placeholder="SubInstallment" v-model="installNo" class="form-control form-control-sm">
                <option v-for="item in 6" :value="item">{{item}}</option>
              </select>
              <label>Installment</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" v-if="manualSubinstallment==false">
              <select @change="GetSubinstallmentNo" v-model="subIntallmentNo" class="form-control form-control-sm" require>
                <option v-for="item in 12" :value="item">{{item}}</option>
              </select>
              <label>Total Sub-Installments</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3 class="mt-3">RefNo: {{RefrenceNo}}
            </h3>
            <h3> Name: {{fullName}}</h3>
            <h3 style="margin-top: 10px">Program:{{program}}</h3>
          </div>
          <div class="col-md-8">
            <table class="table">
              <thead>
                <tr role="row">
                  <th>FeeHeads</th>
                  <th>FeeAmount</th>
                  <th>PayableAmount</th>
                  <th v-if="manualSubinstallment==false">SubInstallment Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in Tempdata">
                  <td class="v-align-middle">{{item.feeHead}}</td>
                  <td class="v-align-middle">{{item.feeAmount}}</td>
                  <td class="v-align-middle">{{item.payableAmount}}</td>
                  <td class="v-align-middle" v-if="manualSubinstallment==false">
                    <template v-if="showSubinstallment==true">
                      {{Math.round(item.payableAmount/subIntallmentNo)}}
                    </template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr role="row">
              <th>
                Challan No
              </th>
              <th>
                Paid Date
              </th>
              <th>
                Due Date
              </th>
              <th>
                Challan Amount
              </th>
              <th v-if="manualSubinstallment==true">
                Sub Installment Amount
              </th>
              <th v-if="manualSubinstallment==true">
                Action
              </th>
            </tr>
          </thead>
          <tbody>

            <tr v-for="(item,index) in TempChallandata ">
              <td>
                {{item.challanNo}}
              </td>
              <td>
                {{item.paidDate | formatDMY}} 
              </td>
              <td v-if="hasSubInst || !manualSubinstallment">
                {{item.dueDate | formatDMY}} DDDD
              </td>
              <td v-else>
                <input type="date" v-model="item.dueDate">
              </td>
              <td>
                {{item.feeAmount}}
              </td>
              <td v-if="manualSubinstallment==true">

                <template v-if="!isPaid(item.paidDate)">
                  <input :disabled="hasSubInst" v-model="item.subInstallmentAmount" type="number">
                </template>
              </td>
              <td v-if="manualSubinstallment==true">
                <button v-if="index==TempChallandata.length-1 && !hasSubInst" class="btn btn-primary"
                  :disabled="item.feeAmount<item.subInstallmentAmount || item.dueDate==null"
                  @click="calculateRemaining(item.feeAmount,item.subInstallmentAmount)">Done</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row text-right">
        <div class="col-md-12">
          <button class="btn btn-danger ripple" @click="cancel">Close</button>
          <button class="btn btn-primary" @click="SaveSubInstallment">Save</button>
        </div>
      </div>
    </div>
  </div>
</modal> -->



<modal name="student-sub-installment-add-edit-model" :clickToClose="false" :min-width="200" :min-height="200"
  :pivot-y="0.5" :reset="true" :scrollable="true" :adaptive="false" transition="bounce" top="10" height="auto"
  width="60%" @before-open="beforeModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-md-6 modal_heading">
        <h3 class="modal-title">{{$t('navigation.feeSubInstallment')}}</h3>
        <p> {{title}} </p>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" class="close " data-dismiss="modal" aria-label="Close" @click="cancel">
          <i class="la la-close"></i>
        </button>
      </div>
    </div>
    <div class="modal-body programcourse">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="kt-option kt-option-custom">
              <span class="kt-option__label">
                <span class="kt-option__head">
                  <span class="kt-option__title mt-1">
                    {{$t('modal.feeSubInstallment.manual')}}
                  </span>
                </span>
              </span>
              <span class="kt-switch kt-switch--sm kt-switch--icon">
                <label class="m-0">
                  <input type="checkbox" checked="checked" v-model.trim="manualSubinstallment">
                  <span></span>
                </label>
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.feeSubInstallment.installment')}}</label>
            <select-ex :options="maxInstallments" keyValue="item" displayValue="item" v-model.trim="installNo"
              @input="filterData">
            </select-ex>


            <!-- <select @change="filterData" placeholder="SubInstallment" v-model="installNo" class="form-control form-control-sm">
                <option v-for="item in 6" :value="item">{{item}}</option>
              </select> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.feeSubInstallment.totalSubInstallment')}}</label>
            <select-ex :options="subInstallments" keyValue="item" displayValue="item" v-model.trim="subIntallmentNo"
              @input="GetSubinstallmentNo">
            </select-ex>

            <!-- <select @change="GetSubinstallmentNo" v-model="subIntallmentNo" class="form-control form-control-sm" require>
                <option v-for="item in 12" :value="item">{{item}}</option>
              </select> -->

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h6>{{$t('modal.feeSubInstallment.referenceNo')}}</h6>
                <span class="kt-badge kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                color: black; font-size: 1rem;">
                  {{RefrenceNo}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h6>{{$t('modal.feeSubInstallment.name')}}</h6>
                <span class="kt-badge  kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                color: black; font-size: 1rem;">{{fullName}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="">
            <div class="row">
              <div class="col-md-12 text-center">
                <h6>{{$t('modal.feeSubInstallment.program')}}</h6>
                <span class="kt-badge  kt-badge--inline kt-badge--pill" style="background: rgba(93, 120, 254, 0.29); 
                color: black; font-size: 1rem;">{{program}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mt-4">
        <div class="col-md-4" v-if="manualSubinstallment==true">
          <div class="form-group">
            <label>{{$t('modal.paidDateRemoval.session')}}</label>
            <select-ex :options="maxInstallments" keyValue="item" displayValue="item" v-model="installNo"
              @input="filterData">
            </select-ex>
          </div>
        </div>
        <div class="col-md-4" v-if="manualSubinstallment==false">
          <div class="form-group">
            <label>{{$t('modal.paidDateRemoval.session')}}</label>
            <select-ex :options="maxInstallments" keyValue="item" displayValue="item" v-model="installNo"
              @input="filterData">
            </select-ex>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Challan Type</label>
            <select-ex :options="ChallanTypeList" keyValue="challanTypeId" displayValue="fullName" v-model="challanType"
              @input="filterData">
            </select-ex>
          </div>
        </div>
      </div> -->
      <div class="row mt-5">
        <div class="col-md-12">
          <table class="table">
            <thead class="thead-light">
              <tr role="row">
                <th>{{$t('modal.feeSubInstallment.feeType')}}</th>
                <th>{{$t('modal.feeSubInstallment.feeAmount')}}</th>
                <th>{{$t('modal.feeSubInstallment.payableAmount')}}</th>
                <th v-if="manualSubinstallment==false">{{$t('modal.feeSubInstallment.subinstallmentAmount')}}</th>

              </tr>
            </thead>
            <tbody>
              <tr v-for="item in Tempdata">
                <td class="align-middle">{{item.feeHead}}</td>
                <td class="align-middle">{{item.feeAmount}}</td>
                <td class="align-middle">{{item.payableAmount}}</td>
                <td class="align-middle" v-if="manualSubinstallment==false">
                  <template v-if="showSubinstallment==true">
                    {{Math.round(item.payableAmount/subIntallmentNo)}}
                  </template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead class="thead-light">
              <tr role="row">
                <th>{{$t('modal.feeSubInstallment.challanNo')}}</th>
                <th>{{$t('modal.feeSubInstallment.paidDate')}}</th>
                <th>{{$t('modal.feeSubInstallment.dueDate')}}</th>
                <th>{{$t('modal.feeSubInstallment.challanAmount')}}</th>

                <th v-if="manualSubinstallment==true">
                  {{$t('modal.feeSubInstallment.subinstallmentAmount')}}
                </th>
                <th v-if="manualSubinstallment==true">
                  {{$t('modal.feeSubInstallment.action')}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in TempChallandata ">
                <td class="align-middle">
                  {{item.challanNo}}
                </td>
                <td class="align-middle">
                  {{item.paidDate | formatDMY}}
                </td>
                <td class="align-middle" v-if="hasSubInst || !manualSubinstallment">
                  {{item.dueDate | formatDMY}}
                </td>
                <td v-else class="align-middle">
                  <!-- <input type="date" v-model="item.dueDate"> -->
                  <date-picker class="input-28" id="change-width" ref="changeWidth" v-model.trim="item.dueDate"
                    format="DD/MM/YYYY" lang="en" v-mask="'##/##/####'">
                  </date-picker>
                </td>
                <td class="align-middle">
                  {{item.feeAmount}}
                </td>
                <td class="align-middle" v-if="manualSubinstallment==true">

                  <template v-if="!isPaid(item.paidDate)">
                    <input :disabled="hasSubInst" class="form-control form-control-sm"
                      v-model.trim="item.subInstallmentAmount" type="number" style="width: 100px;">
                  </template>
                </td>
                <td class="align-middle" v-if="manualSubinstallment==true">
                  <button v-if="index==TempChallandata.length-1 && !hasSubInst"
                    class="btn btn-light btn-hover btn-sm btn-primary"
                    :disabled="item.feeAmount<item.subInstallmentAmount || item.dueDate==null"
                    @click="calculateRemaining(item.feeAmount,item.subInstallmentAmount)">Done</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-outline-secondary btn-hover btn-sm" @click="cancel"> <i class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button class="btn btn-light btn-hover btn-sm btn-primary" @click="SaveSubInstallment"><i
              class="la la-floppy-o"></i>
            {{$t('button.save')}}</button>
        </div>
      </div>
    </div>
  </div>
</modal>