<!-- <modal name="add-edit-model" :clickToClose="false" :min-width="200" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="false" transition="nice-modal-fade" width="50%" height="auto"
    @before-open="beforeModalOpen">
    <div class="modal-content">
        <div class="modal-header clearfix text-left">
            <h5>Model <span class="semi-bold">{{title}}</span></h5>
            <div class="col-md-4">
                <div role="group" aria-label="..." class="m-btn-group m-btn-group--pill btn-group close"
                    v-if="!IsNewRecord">
                    <input class="switch" type="checkbox" v-model="isActive">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group-attached">
                    <div class="col-md-12 row">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <input type="text" class="form-control form-control-sm" v-model="data.vehicleName">
                                <label>Vehicle Name <span style="color:red">*</span></label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control form-control-sm" v-model="data.registrationNo">
                                <label>Registration No <span style="color:red">*</span></label>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-sm"
                                    v-model="data.vehicleNumberPlate">
                                <label>Vehicle Number Plate <span style="color:red">*</span></label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" v-restrict.number class="form-control form-control-sm"
                                    v-model="data.vehicleCapacity">
                                <label>Vehicle Capacity <span style="color:red">*</span></label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-sm" v-model="data.parking">
                                <label>Parking <span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="#" class="btn btn-danger" @click="cancel">
                        <i class="card-icon card-icon-close"></i> Close</a>
                    <a href="#" class="btn btn-primary" @click="saveModel">
                        <i class="fa fa-save"></i> Save</a>
                </div>

            </div>
        </div>
    </div>
</modal> -->



<modal name="add-edit-model" :clickToClose="false" :width="921" :min-height="200" :pivot-y="0.5" :reset="true"
    :scrollable="true" :adaptive="true" transition="bounce" top="10" height="auto"  
    @before-open="beforeModalOpen">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-6 modal_heading">
                <h3 class="modal-title">{{$t('navigation.vehicleInfo')}}</h3>
                <p> {{title}} </p>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close" @click="cancel">
                    <i class="la la-close"></i>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" v-if="!IsNewRecord">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="kt-option kt-option-custom">
                            <span class="kt-option__label">
                                <span class="kt-option__head">
                                    <span class="kt-option__title mt-1">
                                        {{$t('modal.vehicleInfo.recordStatus')}}
                                    </span>
                                </span>
                            </span>
                            <span class="kt-switch kt-switch--sm kt-switch--icon">
                                <label class="m-0">
                                    <input type="checkbox" checked="checked" v-model.trim="isActive">
                                    <span></span>
                                </label>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group validated">
                        <label> {{$t('modal.vehicleInfo.vehicleName')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control " v-model.trim="data.vehicleName"
                            :class="{'is-invalid': $v.data.vehicleName.$error}" @input="$v.data.vehicleName.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.vehicleName.$error">
                            <span v-if="!$v.data.vehicleName.required">{{$t('validation.required')}}</span>
                            <span v-if="!$v.data.vehicleName.maxLength">{{$t('validation.maxLength')}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group validated">
                        <label>
                            {{$t('Vehicle Registration No')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control " v-model.trim="data.registrationNo"
                            :class="{'is-invalid': $v.data.registrationNo.$error}" @input="$v.data.registrationNo.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.registrationNo.$error">
                            <span v-if="!$v.data.registrationNo.required">{{$t('validation.required')}}</span>
                            <span v-if="!$v.data.registrationNo.maxLength">{{$t('validation.maxLength')}}</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group validated">
                        <label>
                            {{$t('modal.vehicleInfo.vehicleNumberPlate')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control form-control-sm" v-model.trim="data.vehicleNumberPlate"
                            :class="{'is-invalid': $v.data.vehicleNumberPlate.$error}"
                            @input="$v.data.vehicleNumberPlate.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.vehicleNumberPlate.$error">
                            <span v-if="!$v.data.vehicleNumberPlate.required">{{$t('validation.required')}}</span>
                            <span v-if="!$v.data.vehicleNumberPlate.maxLength">{{$t('validation.maxLength')}}</span>
                        </div>

                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group validated">
                        <label>
                            {{$t('modal.vehicleInfo.vehicleCapacity')}}<span style="color:red">
                                *</span></label>
                        <input type="number" class="form-control  " v-model.trim="data.vehicleCapacity"
                            :class="{'is-invalid': $v.data.vehicleCapacity.$error}"
                            @input="$v.data.vehicleCapacity.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.vehicleCapacity.$error">
                            <span v-if="!$v.data.vehicleCapacity.required">{{$t('validation.required')}}</span>
                            <span v-if="!$v.data.vehicleCapacity.maxLength">{{$t('validation.maxLength')}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group validated">
                        <label>
                            {{$t('modal.vehicleInfo.parking')}}<span style="color:red">
                                *</span></label>
                        <input type="text" class="form-control " v-model.trim="data.parking"
                            :class="{'is-invalid': $v.data.parking.$error}" @input="$v.data.parking.$touch()">
                        <div class="invalid-feedback" v-show="$v.data.parking.$error">
                            <span v-if="!$v.data.parking.required">{{$t('validation.required')}}</span>
                            <span v-if="!$v.data.parking.maxLength">{{$t('validation.maxLength')}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-outline-secondary btn-hover btn-sm" @click="cancel"> <i
                            class="la la-close"></i>
                        {{$t('button.close')}}</button>
                    <button class="btn btn-light btn-hover btn-sm btn-primary" @click="saveModel"><i class="la la-floppy-o"></i> {{$t('button.save')}}</button>
                    <!-- <button class="btn btn-light btn-hover btn-sm btn-primary" v-else disabled><i
                            class="la la-floppy-o"></i>
                        {{$t('button.save')}}</button> -->
                </div>
            </div>
        </div>
    </div>
</modal>