
<div class="row mt-4">
    <div class="col-md-4">
      <div class="card-box" style="background: #273b73eb;">
        <div class="inner">
          <p> Form Collection </p>
          <div class="row">
            <div class="col-md-6 text-center">
              <h3 class="text-center"> {{admissionCount}} </h3>
              <span>Total</span>
            </div>
            <div class="col-md-6 text-center" style="border-left:3px solid white;">
              <h3 class="text-center"> {{admissionCountDaily}} </h3>
              <span>Today</span>
            </div>
          </div>
        </div>
        <div class="icon">
          <i class="la la-file-text" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-box" style="background: #fd4853a6;">
        <div class="inner">
          <p>Paid </p>
          <div class="row">
            <div class="col-md-6 text-center">
              <h3 class="text-center"> {{paidChallanCount}} </h3>
              <span>Total</span>
            </div>
            <div class="col-md-6 text-center" style="border-left:3px solid white;">
              <h3 class="text-center"> {{paidChallanCountDaily}} </h3>
              <span>Today</span>
            </div>
          </div>
        </div>
        <div class="icon">
          <i class="la la-money" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-box" style="background: #6689f2;">
        <div class="inner">
          <p> Enrolled</p>
          <div class="row">
            <div class="col-md-6 text-center">
              <h3 class="text-center"> {{enrollmentCount}} </h3>
              <span>Total</span>
            </div>
          </div>
        </div>
        <div class="icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>