<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
      Day Off Bulk
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <select v-model="sessionid" class="form-control" required>
                <option :key="index" :value="model.sessionId" v-for="(model,index) in sessionList">
                  {{model.fullName}}
                </option>
              </select>
              <label>Session</label>
            </div>
          </div>
          <div class="col-md-3">
            <drop-down v-model="campusid" :data="campusCityList" group-by="cityName" key-value="campusId"
              display-value="campusName" placeholder="Campus" @change="loadProgramsOfCampus">
            </drop-down>
          </div>
          <div class="col-md-2">
            <drop-down v-model="campusProgramId" :data="campusProgramLinkList" group-by="programName"
              key-value="campusProgramId" display-value="description" placeholder="Programs" @change="loadClass">
            </drop-down>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select @change="loadProgramSection" v-model="classid" class="form-control" required>
                <option :key="index" :value="model.classId" v-for="(model,index) in classList">{{model.fullName}}
                </option>
              </select>
              <label>Class</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select @change="GetTimeTableViaSession" v-model="sectionid" class="form-control" required>
                <option :key="index" :value="model.sectionId" v-for="(model,index) in sectionCourseLinkList">
                  {{model.sectionName}}
                </option>
              </select>
              <label>Section</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                  <label class="caption-title">From Date</label>
                  <date-picker v-model="fromDate" format="DD/MM/YYYY" lang="en"></date-picker>
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="caption-title">To Date</label>
                    <date-picker v-model="ToDate" format="DD/MM/YYYY" lang="en"></date-picker>
                </div>
              </div>
              <div class="col-md-3">
                  <label class="caption-title">Select All</label>
                  <input type="checkbox" class="form-control" v-model="CheckAllRec"  @change="CheckAllrecords">
              </div>
              <div class="col-md-3">
                  <button @click="saveModel" class="b-add">
                      <feather icon="save"></feather>
                    </button>
              </div>
            </div>
        <div class="table-responsive">
          <div class="dataTables_wrapper no-footer">
            <table class="table">
              <thead>
                <tr role="row">
                  <th>Name</th>
                  <th>Section</th>
                  <th>Staff</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Day</th>
                  <th>Select</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in Dayofflist">
                  <td class="v-align-middle">{{item.fullName}}</td>
                  <td class="v-align-middle">{{item.sectionName}}</td>
                  <td class="v-align-middle">{{item.staffName}}</td>
                  <td class="v-align-middle">{{item.startTime}}</td>
                  <td class="v-align-middle">{{item.endTime}}</td>
                  <td class="v-align-middle">{{item.dayName}}</td>
                  <input type="checkbox" class="form-control" v-model="item.ischeck">
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <add-edit-model v-on:submit="GetTimeTableViaSession"></add-edit-model>
        <delete-model v-on:submit="GetTimeTableViaSession"></delete-model>
        <report-engine :data="reportData" :path="report"></report-engine>
        <bulk-timetable v-on:submit="GetTimeTableViaSession"></bulk-timetable>
      </div>
    </div>
  </div>
</div> -->






<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title"> {{$t('navigation.timetable')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.TimeTableDayOffBulkList')}} </a>
    </div>
  </template>
  <!-- <div class="row">
    <div class="col-md-4 mx-auto" style=" position: fixed; top: 10px; z-index: 999; right: 0px; text-align: center;">
     <div class="alert alert-danger text-center" v-if="activeDayoff==true" role="alert">
       <p class="mb-0 text-center" style="width:100%"> {{msgShow}}</p>
       </div>
       <div class="alert alert-success text-center" v-if = "success==true" role="alert">
        <p class="mb-0 text-center " style="width: 100%"> {{msgShow}}</p>
        </div>
    </div>

 </div> -->
  <portlet-area action="1" :title="$t('navigation.TimeTableDayOffBulkList')">
 
    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.TimeTableDayOffBulkList.session')}}</label>
            <select-ex @input="loadCityCampus" :options="sessionList" keyValue="sessionId" displayValue="fullName"
              v-model.trim="sessionid">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.TimeTableDayOffBulkList.campus')}}</label>
            <select-ex :options="campusCityList" v-model.trim="campusid" keyValue="campusId" displayValue="campusName"
              groupBy="cityName" @input="loadProgramsOfCampus"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.TimeTableDayOffBulkList.program')}}</label>
            <select-ex :options="campusProgramLinkList" keyValue="campusProgramId" displayValue="description"
              groupBy="programName" v-model.trim="campusProgramId" @input="loadClass"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.TimeTableDayOffBulkList.class')}}</label>
            <select-ex @input="loadProgramSection" :options="classList" keyValue="classId" displayValue="fullName"
              v-model.trim="classid"></select-ex>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="form-group">
          <div class="row">
            <div class="col-md-8"> -->
              <!-- <label>{{$t('modal.examBulk.section')}}</label> -->
              <!-- @change="enableCheckbox" v-model="forAllSection" -->
            <!-- </div>
            <div class="col-md-4 text-right"><span class="kt-switch kt-switch--sm kt-switch--icon"><label
             class="m-0"><input type="checkbox" checked="checked" @change="enableCheckbox" v-model="forAllSection"  > 
             <span></span></label></span></div>
          </div>
            <label>{{$t('modal.TimeTableDayOffBulkList.section')}}</label>
            <select-ex  :disabled="forAllSection" :options="sectionCourseLinkList" keyValue="sectionId" displayValue="sectionName"
              v-model.trim="sectionid"></select-ex>
              <label class="show-checkBox" >For All Sections</label>
          </div>
        </div> -->
        <div class="col-md-3">
          <div class="form-group">
            <div class="d-flex justify-content-between align-items-start">
              <label>{{$t('modal.TimeTableDayOffBulkList.section')}}</label>
              <span class="kt-switch kt-switch--sm kt-switch--icon">
                <label class="m-0">
                  <input type="checkbox" @change="enableCheckbox" v-model="forAllSection">
                  <span></span>
                </label>
              </span>
            </div>
            <select-ex 
              :disabled="forAllSection" 
              :options="sectionCourseLinkList" 
              keyValue="sectionId" 
              displayValue="sectionName" 
              v-model.trim="sectionid">
            </select-ex>
            <label class="show-checkBox">For All Sections</label>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.TimeTableDayOffBulkList.fromDate')}}</label>
            <date-picker class="input-28" id="change-width" ref="changeWidth" v-model.trim="fromDate"
              format="DD/MM/YYYY" lang="en" v-mask="'##/##/####'"></date-picker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.TimeTableDayOffBulkList.toDate')}}</label>
            <date-picker class="input-28" id="change-width" @change="GetTimeTableViaSession" ref="changeWidth"
              v-model.trim="ToDate" format="DD/MM/YYYY" lang="en" v-mask="'##/##/####'"></date-picker>
          </div>  
        </div>
      </div>
      <grid :data="Dayofflist" :columns="columns" pre="modal.TimeTableDayOffBulkList.">
        <template slot="action-area">
          <button data-toggle="modal" data-target="#myModal" class=" btn btn-hover btn-sm btn-outline-primary"
            :disabled="Dayofflist.length==0"> <i class="la la-floppy-o"></i>
            {{$t('button.save')}}</button>
            <!-- <button data-toggle="modal" data-target="#myModal2" class=" btn btn-hover btn-sm btn-outline-primary"
            :disabled="Dayofflist.length==0"> <i class="la la-floppy-o"></i>
           Remove</button> -->
           <!-- <button @click="refreshData" class="btn btn-hover btn-sm btn-outline-primary">
            <i class="la la-refresh"></i> {{$t('button.reload')}}
          </button> -->
        </template>
        <template slot="ischeck-header" slot-scope="item">
          <label class="kt-checkbox kt-checkbox--brand mb-0">
            {{$t('modal.TimeTableDayOffBulkList.grid.ischeck')}}<input class="mb-0" type="checkbox"
              @change="CheckAllrecords" v-model="CheckAllRec">
            <span></span>
          </label>
        </template>
        <template slot="ischeck" slot-scope="item">
          <label class="kt-checkbox kt-checkbox--brand" style="margin-bottom: 14px !important;">
            <input type="checkbox" v-model="item.row.ischeck">
            <span></span>
          </label>
        </template>
      </grid>
    </template>
  </portlet-area>
  <add-edit-model v-on:submit="GetTimeTableViaSession"></add-edit-model>
  <delete-model v-on:submit="GetTimeTableViaSession"></delete-model>
  <!-- <report-engine :data="reportData" :path="report"></report-engine> -->
  <bulk-timetable v-on:submit="GetTimeTableViaSession"></bulk-timetable>


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-6 modal_heading">
            <h3 class="modal-title">{{$t('navigation.TimeTableDayOffBulkList')}}</h3>
            <p>Confirmation</p>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="close " data-dismiss="modal">
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to Save?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary btn-hover btn-sm" type="submit" data-dismiss="modal">
            <i class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button class="btn btn-light btn-hover btn-sm btn-primary" data-dismiss="modal" type="submit"
            :disabled="Dayofflist.length==0" @click="saveModel">
            <i class="la la-save"></i> {{$t('button.save')}}</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-6 modal_heading">
            <h3 class="modal-title">{{$t('navigation.TimeTableDayOffBulkList')}}</h3>
            <p>Confirmation</p>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="close " data-dismiss="modal">
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to Remove?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary btn-hover btn-sm" type="submit" data-dismiss="modal">
            <i class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button class="btn btn-light btn-hover btn-sm btn-primary" data-dismiss="modal" type="submit"
            :disabled="Dayofflist.length==0" @click="saveModel2">
            <i class="la la-save"></i> {{$t('button.save')}}</button>
        </div>
      </div>
    </div>
  </div>
</page-area>