<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->

<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.attendance')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.attendanceBulkDetail')}} </a>
    </div>
  </template>
  <portlet-area action="1" :title="$t('navigation.attendanceBulkDetail')">
    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-3">
          <!-- <div class="form-group">
            <select @change="loadCityCampus" class="form-control form-control-sm" v-model="sessionId" required>
              <option v-for="(model,index) in sessionList" :value="model.sessionId">{{model.fullName}}</option>
            </select>
            <label>Session</label>
          </div> -->
          <div class="form-group validated">
            <label class="form-control-label">{{$t('modal.reports.feeReports.session')}}</label>
            <select-ex @input="loadCityCampus" :options="sessionList" keyValue="sessionId" displayValue="fullName"
              v-model="sessionId">
            </select-ex>
          </div>
        </div>

        <div class="col-md-3">
          <!-- <drop-down v-model="campusId" :data="campusCityList" group-by="cityName" key-value="campusId"
            display-value="campusName" placeholder="Campus" @change="loadProgramsOfCampus">
          </drop-down> -->
          <div class="form-group">
            <label>{{$t('modal.reports.feeReports.campus')}}</label>
            <select-ex @input="loadProgramsOfCampus" :options="campusCityList" keyValue="campusId"
              displayValue="campusName" v-model="campusId" groupBy="cityName" required>
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <!-- <drop-down v-model="programDetailId" :data="campusProgramLinkList" group-by="programName"
            key-value="programDetailId" display-value="description" placeholder="Programs" @change="loadClass">
          </drop-down> -->
          <div class="form-group">
            <label>{{$t('modal.reports.feeReports.program')}}</label>
            <select-ex @input="loadClass" :options="campusProgramLinkList" keyValue="programDetailId"
              displayValue="description" groupBy="programName" v-model.trim="programDetailId">
            </select-ex>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <!-- <select @change="loadProgramSection" class="form-control form-control-sm" v-model="classId" required>
              <option v-for="(model,index) in classList" :value="model.classId">{{model.fullName}}</option>
            </select>
            <label>Class</label> -->
            <label>{{$t('modal.reports.feeReports.class')}}</label>
            <select-ex @input="loadProgramSection" :options="classList" keyValue="classId" displayValue="fullName"
              v-model.trim="classId">
            </select-ex>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <!-- <select @change="refreshData" v-model="sectionId" class="form-control form-control-sm" required>
              <option :key="index" :value="model.sectionId" v-for="(model,index) in sectionCourseLinkList">
                {{model.sectionName}}
              </option>
            </select> -->
            <label>{{$t('modal.reports.feeReports.section')}}</label>
            <select-ex :options="sectionCourseLinkList" keyValue="sectionId" displayValue="sectionName"
              v-model.trim="sectionId" @input="refreshData">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <!-- <input class="form-control form-control-sm" @change="refreshData" v-model="datestring" type="date" required> -->
            <label>{{$t('modal.reports.feeReports.date')}}</label>
            <date-picker @input="refreshData"  :not-after="date"class="input-28" id="change-width" ref="changeWidth" v-model="datestring"
              format="DD/MM/YYYY" lang="en" ></date-picker>
          </div>
        </div>
        <div class="col-md-6 text-right" style="margin-top: 25px;">
          <!-- <button data-toggle="modal" data-target="#myModal" class="b-add">
            <feather icon="save"></feather>
          </button> -->
          <button data-toggle="modal" data-target="#myModal" class="btn btn-hover btn-sm btn-outline-primary"
            style="width: 90px" :disabled="attendanceBulkList.length==0">
            <i class="la la-save"></i> {{$t('button.save')}}
          </button>

             <button data-toggle="modal" data-target="#myModalApprove" class="btn btn-hover btn-sm btn-outline-primary"
            style="width: 100" :disabled="attendanceBulkList.length==0">
            <i class="la la-save"></i> {{$t('button.approve')}}
          </button>
          <button @click="refreshData" class="btn  btn-hover btn-sm btn-outline-primary">
            <i class="la la-refresh"></i> {{$t('button.reload')}}
          </button>
          <!-- <button @click="refreshData" class="b-refresh">
            <feather icon="refresh-ccw"></feather>
          </button> -->
        </div>

      </div>
      <div class="table-scroll" v-if="attendanceBulkList.length>0">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr role="row">
                <th>Roll No</th>
                <th>Name</th>
                <!-- <template v-if="detailData.length>0">
                  <th v-for="(model,index) in programCourseList">{{getCourses(model)}}</th>
                </template> -->
                <template>
                  <th v-for="(model,index) in programCourseList">{{model.fullName}}
                    ({{model.startTime}}-{{model.endTime}})</th>
                </template>
                <th>Full Day Absent</th>
              </tr>
            </thead>
            <tbody>
<!-- :disabled="model.fullName=='Leave'" -->
              <!-- <tr v-for="(item,index) in attendanceBulkList">
                <td class="align-middle">{{item.rollNo}}</td>
                <td class="align-middle">{{item.fullName}}</td>
                <td class="align-middle" v-for="model in item.courses">
                  <select class="form-control form-control-sm" v-model="model.attendenceStatusId" :disabled="model.isApproved==true||DisableLeave(model.attendenceStatusId)">
                    <option v-for="(model,index) in attendanceStatusList" :value="model.attendenceStatusId" :disabled="model.fullName=='Leave'" >
                      
                      {{model.fullName}}
                    </option>
                  </select>
                </td>
                <td class="align-middle">
                  <label class="kt-checkbox kt-checkbox--brand" style="margin-bottom: 16px;">
                    <input type="checkbox" @input="markFullDayAbsent(item)"  v-model="item.isChecked">
                    <span></span>
                  </label>
                 
                </td>
              </tr> -->

              <tr v-for="(item,index) in attendanceBulkList" :key="index">
  <td class="align-middle">{{item.rollNo}}</td>
  <td class="align-middle">{{item.fullName}}</td>

  <td v-for="course in programCourseList" :key="course.courseId" class="align-middle">
    <select
      class="form-control form-control-sm"
      v-model="getCourseAttendance(item.courses, course.courseId).attendenceStatusId"
      :disabled="getCourseAttendance(item.courses, course.courseId).isApproved==true || 
                 DisableLeave(getCourseAttendance(item.courses, course.courseId).attendenceStatusId)">
      <option 
        v-for="status in attendanceStatusList"
        :key="status.attendenceStatusId"
        :value="status.attendenceStatusId"
        :disabled="status.fullName=='Leave'">
        {{status.fullName}}
      </option>
    </select>
  </td>

  <td class="align-middle">
    <label class="kt-checkbox kt-checkbox--brand" style="margin-bottom: 16px;">
      <input type="checkbox" @input="markFullDayAbsent(item)" v-model="item.isChecked">
      <span></span>
    </label>
  </td>
</tr>

            </tbody>
          </table>
        </div>
      </div>
      <div v-else>
        There is no record
      </div>

    </template>
  </portlet-area>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-6 modal_heading">
            <h3 class="modal-title"> {{$t('navigation.attendanceBulkDetail')}}</h3>
            <p>Confirmation</p>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="close " data-dismiss="modal">
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to mark attendance ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-hover btn-sm" data-dismiss="modal"> <i
              class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button type="button" @click="insertModel(false)" class="btn btn-hover btn-sm btn-primary"
            data-dismiss="modal">Yes</button>

        </div>
      </div>
    </div>
  </div>
  <div id="myModalApprove" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-6 modal_heading">
            <h3 class="modal-title">{{$t('navigation.attendanceBulkDetail')}}</h3>
            <p>Confirmation</p>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="close " data-dismiss="modal">
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Save and Approve attendance ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-hover btn-sm" data-dismiss="modal"> <i
              class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button type="button" @click="insertModel(true)" class="btn btn-hover btn-sm btn-primary"
            data-dismiss="modal">Yes</button>

        </div>
      </div>
    </div>
  </div>
</page-area>










<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Attendance Bulk
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <select @change="loadCityCampus" class="form-control form-control-sm" v-model="sessionId" required>
                <option v-for="(model,index) in sessionList" :value="model.sessionId">{{model.fullName}}</option>
              </select>
              <label>Session</label>
            </div>
          </div>

          <div class="col-md-3">
            <drop-down v-model="campusId" :data="campusCityList" group-by="cityName" key-value="campusId"
              display-value="campusName" placeholder="Campus" @change="loadProgramsOfCampus">
            </drop-down>
          </div>
          <div class="col-md-3">
            <drop-down v-model="programDetailId" :data="campusProgramLinkList" group-by="programName"
              key-value="programDetailId" display-value="description" placeholder="Programs" @change="loadClass">
            </drop-down>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <select @change="loadProgramSection" class="form-control form-control-sm" v-model="classId" required>
                <option v-for="(model,index) in classList" :value="model.classId">{{model.fullName}}</option>
              </select>
              <label>Class</label>
            </div>
          </div>


        </div>
        <br>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <select @change="refreshData" v-model="sectionId" class="form-control form-control-sm" required>
                <option :key="index" :value="model.sectionId" v-for="(model,index) in sectionCourseLinkList">
                  {{model.sectionName}}
                </option>
              </select>
              <label>Section</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input class="form-control form-control-sm" @change="refreshData" v-model="datestring" type="date"
                required>
              <label>Date</label>
            </div>
          </div>



          <div class="col-md-6 text-right">
            <button data-toggle="modal" data-target="#myModal" class="b-add">
              <feather icon="save"></feather>
            </button>
            <button @click="refreshData" class="b-refresh">
              <feather icon="refresh-ccw"></feather>
            </button>
          </div>

        </div>

        <div class="table-responsive" v-if="canRead">
          <div class="dataTables_wrapper no-footer">
            <table class="table">
              <thead>
                <tr role="row">
                  <th>Roll No</th>
                  <th>Name</th>
                  <template v-if="detailData.length>0">
                    <th v-for="(model,index) in programCourseList">{{getCourses(model)}}</th>
                  </template>
                  <template v-else>
                    <th v-for="(model,index) in programCourseList">{{model.fullName}}
                      ({{model.startTime}}-{{model.endTime}})</th>
                  </template>
                  <th>Full Day Absent</th>
                </tr>
              </thead>
              <tbody>

                <tr v-for="item in attendanceBulkList">

                  <td class="v-align-middle">{{item.rollNo}}</td>
                  <td class="v-align-middle">{{item.fullName}}</td>
                  <td v-for="model in item.courses">
                    <select class="form-control form-control-sm" v-model="model.attendenceStatusId">
                      <option v-for="(model,index) in attendanceStatusList" :value="model.attendenceStatusId">
                        {{model.fullName}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input type="checkbox" @change="markFullDayAbsent(item)" class="mt-2"
                      v-model="item.isChecked"></input>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Confirm Attendance?</p>
        </div>
        <div class="modal-footer">
          <button type="button" @click="insertModel" class="btn btn-primary" data-dismiss="modal">Yes</button>

          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div> -->