<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-footer__copyright">
      <span v-html="$t('site.copyright')"></span>
      <!-- 2019&nbsp;©&nbsp;<a href="https://thetowertechnologies.com" target="_blank" class="kt-link"></a> -->
    </div>
    <div class="kt-footer__menu">
      <a href="#" target="_blank" class="kt-footer__menu-link kt-link">About</a>
      <a href="https://kb.thetowertech.com" target="" class="kt-footer__menu-link kt-link">Help</a>
      <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
    </div>
  </div>
</div>