<!--
*   Author: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->



<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Fee Structure Approval
      </div>
      <div class="card-body">
        <div v-if="canRead">
          <grid :data="data" :columns="columns">
            <template slot="operation-links">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="refreshData" v-model="zoneId" class="form-control form-control-sm" required>
                      <option :key="index" :value="model.zoneId" v-for="(model,index) in zoneList">{{model.fullName}}
                      </option>
                    </select>
                    <label>Zone</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="refreshData" v-model="sessionId" class="form-control form-control-sm" required>
                      <option :key="index" :value="model.sessionId" v-for="(model,index) in sessionList">
                        {{model.fullName}}
                      </option>
                    </select>
                    <label>Session</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="refreshData" v-model="programId" class="form-control form-control-sm" required>
                      <option :key="index" :value="model.programId" v-for="(model,index) in programList">
                        {{model.fullName}}
                      </option>
                    </select>
                    <label>Program</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <button data-toggle="modal" data-target="#myModal" :disabled="data.length==0" href="#"
                    class="btn btn-primary btn-sm tbl-btn btn-save">
                    <i class="fa fa-save"></i>
                  </button>
                  <button @click="refreshData" class="b-refresh">
                    <feather icon="refresh-ccw"></feather>
                  </button>
                </div>
              </div>
            </template>
            <template slot="isApproved" slot-scope="item">
              <label class="form-checkbox">
                <input class="switch" type="checkbox" v-model="item.row.isApproved">
                <i class="form-icon"></i>
              </label></template>
          </grid>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p style="font-size:50px;" align="left">Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" @click="insertModel" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <add-edit-model v-on:submit="refreshData"></add-edit-model>
  <delete-model v-on:submit="refreshData"></delete-model>
  <feeStructure-edit v-on:submit="refreshData"></feeStructure-edit>
</div> -->


<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.ssetup')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.fsetup')}} </a>
    </div>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('navigation.feeFeeStructureApproval')}} </a>
    </div>
  </template>

  <portlet-area action="1" :title="$t('navigation.feeFeeStructureApproval')">
    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('navigation.setupZone')}}</label>
            <select-ex :options="zoneList" keyValue="zoneId" displayValue="fullName" v-model="zoneId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('navigation.setupSession')}}</label>
            <select-ex :options="sessionList" keyValue="sessionId" displayValue="fullName" v-model="sessionId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('navigation.setupProgram')}}</label>
            <select-ex :options="programList" keyValue="programId" displayValue="fullName" v-model="programId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 26px;">
          <div class="form-group">
            <!-- <button v-if="canAdd" @click="insertModel" class="btn btn-light btn-hover btn-sm btn-outline-primary">
                  <i class="la la-plus"></i> {{$t('button.insert')}}
                </button> -->

            <!-- <button data-toggle="modal" data-target="#myModal" :disabled="data.length==0" title="Save"
              class="btn btn-hover btn-sm btn-primary">
              <i class="la la-save"></i> {{$t('button.save')}}
            </button> -->
          </div>
        </div>
      </div>
      <grid :data="data" :columns="columns" pre="modal.setupFeeStructureApproval.">
        <template slot="action-area">
          <button data-toggle="modal" data-target="#myModal" :disabled="data.length==0" title="Save"
            class="btn btn-light btn-hover btn-sm btn-outline-primary">
            <i class="la la-save"></i> {{$t('button.save')}}
          </button>
        </template>
        <template slot="isApproved" slot-scope="item">
          <span class="kt-switch kt-switch--sm kt-switch--icon">
            <label class="m-0">
              <input type="checkbox" checked="checked" v-model="item.row.isApproved">
              <span></span>
            </label>
          </span>
        </template>
      </grid>
    </template>
  </portlet-area>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-6 modal_heading">
            <h3 class="modal-title">{{$t('navigation.feeFeeStructureApproval')}}</h3>
            <p>{{ title }}</p>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="close " data-dismiss="modal">
              <!-- <i class="la la-close"></i> -->
            </button>
          </div>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to approve Fee Structure?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary btn-hover btn-sm" type="submit" data-dismiss="modal">
            <i class="la la-close"></i>
            {{$t('button.close')}}</button>
          <button class="btn btn-light btn-hover btn-sm btn-primary" data-dismiss="modal" type="submit"
            @click="insertModel"><i class="la la-save"></i> {{$t('button.save')}}</button>
        </div>
      </div>
    </div>
  </div>
</page-area>