
<div class="card">
  <div class="card-body" style="height: 700px !important">
    <div class="profile-wrapper">
    <div class="row" style="height: 100%;">
        <div class="col-md-3" style="height: 100%;">
            <div class="profile-card">
                <!-- <h2 class="title">Student Information</h2> -->
                <img src="~assets/images/users/default.jpg" class="effect" alt="">
                <div class="profile-image">
                    <img src="~assets/images/users/default.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row mt-4">
                <div class="col-md-12 text-right">
                    <ul class="nav nav-pills float-right" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="academics-tab" data-toggle="tab" href="#academics" role="tab"
                                aria-controls="home" aria-selected="true">Academics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="profile" aria-selected="false">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab"
                                aria-controls="contact" aria-selected="false">Address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab"
                                aria-controls="contact" aria-selected="false">Upgrade</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrapper">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3>Student Information</h3>
                    </div>
                    <div class="tab-pane fade" id="academics" role="tabpanel" aria-labelledby="profile-tab">
                        <h3>Academics</h3>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="timeline">
                                    <div class="timeline-fromdate">2015</div>
                                    <div class="timeline-todate">2019</div>
                                    <div class="timeline-content">
                                        <div class="timeline-title">
                                            Matriculation
                                        </div>
                                        <div class="timeline-dec">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline">
                                    <div class="timeline-fromdate">2015</div>
                                    <div class="timeline-todate">2019</div>
                                    <div class="timeline-content">
                                        <div class="timeline-title">
                                            Intermidiate
                                        </div>
                                        <div class="timeline-dec">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="timeline">
                                    <div class="timeline-fromdate">2015</div>
                                    <div class="timeline-todate">2019</div>
                                    <div class="timeline-content">
                                        <div class="timeline-title">
                                            Matriculation
                                        </div>
                                        <div class="timeline-dec">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline">
                                    <div class="timeline-fromdate">2015</div>
                                    <div class="timeline-todate">2019</div>
                                    <div class="timeline-content">
                                        <div class="timeline-title">
                                            Intermidiate
                                        </div>
                                        <div class="timeline-dec">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="timeline">
                                    <div class="timeline-fromdate">2015</div>
                                    <div class="timeline-todate">2019</div>
                                    <div class="timeline-content">
                                        <div class="timeline-title">
                                            Matriculation
                                        </div>
                                        <div class="timeline-dec">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline">
                                    <div class="timeline-fromdate">2015</div>
                                    <div class="timeline-todate">2019</div>
                                    <div class="timeline-content">
                                        <div class="timeline-title">
                                            Intermidiate
                                        </div>
                                        <div class="timeline-dec">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                                            eveniet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <h3>Contact</h3>
                    </div>
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="contact-tab">
                        <h3>Address</h3>
                    </div>
                    <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="contact-tab">
                        <h3>Update Information</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</div>

