<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->



<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title">{{$t('navigation.hr')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        UpdateMicrosoft Password </a>
    </div>
  </template>

  <portlet-area action="1" :title="$t('UpdateMicrosoft')">

    <template slot="portlet-body">
      <div class="row">
        <div class="col-md-6">

          <input type="text" placeholder="Enter Microsoft Id" v-model="filterString" class="form-control">
          <h6 style="color: red;">Note : Only for Existing Users who Unable to Login with Microsoft</h6>

        </div>
        <div class="col-md-3">
          <button  @click="refreshData" class="btn btn-light btn-hover btn-sm btn-outline-primary">
             UpdatePass
          </button>


        </div>
      </div>
  
     
     
      </grid>
    </template>
  </portlet-area>

</page-area>


<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Departments
      </div>
      <div class="card-body">

        <div v-if="canRead">


          <grid :data="data" :columns="columns">
            <template slot="operation-links">
              <button v-if="canAdd" @click="insertModel" class="b-add">
                <feather icon="plus-circle"></feather>
              </button>
              <button @click="refreshData" class="b-refresh">
                <feather icon="refresh-ccw" ></feather>
              </button>
            </template>
            <template slot="statusId" slot-scope="item">
              {{item.row.statusId==1?'Active':'InActive'}}
            </template>
            <template slot="action" slot-scope="item">
              <a @click="editModel(item.row)" v-if="canEdit">
                <feather icon="edit" xclass="b-edit"></feather>
              </a>
              <a @click="deleteModel(item.row)" v-if="canDelete">
               <feather icon="trash" xclass="b-delete"></feather>
              </a>
            </template>

          </grid>

        </div>
      </div>
    </div>
  </div>

  
</div> -->