<!--
*   Auther: H.Muhammad Kamran
*   email: hmuhdkamran@gmail.com
*   contact: +92 (313 / 333) 9112 845
//-->




<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        Exam Schedule
      </div>
      <div class="card-body">

        <div >


          <grid :data="datas" :columns="columns">
            <template slot="operation-actions">

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="loadCityCampus" class="form-control form-control-sm" v-model="sessionId" required>
                      <option v-for="(model,index) in sessionList" :value="model.sessionId">{{model.fullName}}</option>
                    </select>
                    <label>Session</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <drop-down v-model="campusId" :data="campusCityList" group-by="cityName" key-value="campusId"
                    display-value="campusName" placeholder="Campus" @change="loadProgramsOfCampus">
                  </drop-down>
                </div>
                <div class="col-md-3">
                  <drop-down v-model="campusProgramId" :data="campusProgramLinkList" group-by="programName"
                    key-value="campusProgramId" display-value="description" placeholder="Programs" @change="loadClass">
                  </drop-down>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="loadCourse" class="form-control form-control-sm" v-model="classId" required>
                      <option v-for="(model,index) in classList" :value="model.classId">{{model.fullName}}</option>
                    </select>
                    <label>Class</label>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="loadExamType" v-model="courseId" class="form-control form-control-sm" required>
                      <option :value="item.courseId" v-for="item in courseList">{{item.fullName}}
                      </option>
                    </select>
                    <label>Course</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select @change="refreshData" v-model="examTypeId" class="form-control form-control-sm" required>
                      <option :value="item.examTypeId" v-for="item in examTypeList">{{item.fullName}}
                      </option>
                    </select>
                    <label>Exam Type</label>
                  </div>
                </div>
              </div>
            </template>
            <template slot="operation-links">
              <button v-if="canAdd" @click="insertModel" class="b-add">
                <feather icon="plus-circle"></feather>
              </button>
              <button @click="refreshData" class="b-refresh">
                <feather icon="refresh-ccw"></feather>
              </button>
            </template>
            <template slot="statusId" slot-scope="item">
              {{item.row.statusId==1?'Active':'InActive'}}
            </template>
            <template slot="fromDate" slot-scope="item">
              {{item.row.fromDate && item.row.fromDate.toString().split('T')[0]}}
            </template>
            <template slot="toDate" slot-scope="item">
              {{item.row.toDate && item.row.toDate.toString().split('T')[0]}}
            </template>
            <template slot="action" slot-scope="item">
              <a @click="editModel(item.row)" v-if="canEdit">
                <feather icon="edit" xclass="b-edit"></feather>
              </a>
              <a @click="deleteModel(item.row)" v-if="canDelete">
                <feather icon="trash" xclass="b-delete"></feather>
              </a>
            </template>

          </grid>

        </div>
      </div>
    </div>
  </div>

  <ExamSchedule-add-edit-model v-on:submit="refreshData"></ExamSchedule-add-edit-model>
  <delete-model v-on:submit="refreshData"></delete-model>
</div> -->
<page-area>
  <template slot="breadcrumbs-area">
    <h3 class="kt-subheader__title"> {{$t('navigation.examination')}}</h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <a href="" class="kt-subheader__breadcrumbs-link">
        {{$t('Exam Schedule')}} </a>
    </div>
  </template>
  <portlet-area action="1" :title="$t('Exam Schedule')">
    <template slot="portlet-body" v-if="canRead">
      <!-- <div v-if="canRead"> -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.session')}}<span style="color:red"> *</span></label>
            <select-ex @input="loadCityCampus" :options="sessionList" keyValue="sessionId" displayValue="fullName"
              v-model.trim="sessionId">
            </select-ex>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.campus')}}<span style="color:red"> *</span></label>
            <select-ex :options="campusCityList" @input="loadProgramsOfCampus()" v-model.trim="campusId"
              keyValue="campusId" displayValue="campusName" groupBy="cityName"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.program')}}<span style="color:red"> *</span></label>
            <select-ex @input="loadClass" :options="campusProgramLinkList" keyValue="campusProgramId"
              displayValue="description" groupBy="programName" v-model.trim="campusProgramId"></select-ex>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.class')}}<span style="color:red"> *</span></label>
            <select-ex :options="classList" @input="loadSection" keyValue="classId" displayValue="fullName"
              v-model.trim="classId">
            </select-ex>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="position: relative;">
          <div class="form-group">
            <div class="row">
              <div class="col-md-8"><label>{{$t('modal.examBulk.section')}}</label></div>
              <div class="col-md-4 text-right"><span class="kt-switch kt-switch--sm kt-switch--icon"><label
               class="m-0"><input type="checkbox" checked="checked"  @change="enableCheckbox" v-model="forAllSection" > 
               <span></span></label></span></div>
            </div>
            <select-ex  :disabled="forAllSection" :options="sectionCourseLinkList" keyValue="sectionCourseLinkId" displayValue="sectionName"
            v-model="sectionCourseLinkId"   @input="loadSectionCourse"   multiple  ></select-ex>
         
            <label class="show-checkBox" >For All Sections</label>
          </div>
        </div>
        <!-- <div class="col-md-3">co
          <div class="form-group">
            <div class="row">
              <div class="col-md-8">
                <label>{{$t('modal.examBulk.section')}}<span style="color:red"> *</span></label>
              </div>
              <div class="col-md-4 text-right">
                For All Sections
                <span class="kt-switch kt-switch--sm kt-switch--icon">
                  <label class="m-0">
                    <input type="checkbox" v-model="forAllSection">
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <select-ex :disabled="forAllSection" :options="sectionCourseLinkList" keyValue="sectionCourseLinkId"
              displayValue="sectionName" v-model.trim="sectionCourseLinkId" @input="loadSectionCourse"></select-ex>
          </div>
        </div> -->
      </div>
      <!-- <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.section')}}<span style="color:red"> *</span></label>
            <select-ex :options="sectionCourseLinkList" keyValue="sectionCourseLinkId" displayValue="sectionName"
              v-model.trim="sectionCourseLinkId" @input="loadSectionCourse"></select-ex>
          </div>
        </div> -->
      <!-- <div class="col-md-3">
          <div class="form-group">
            <label>{{$t('modal.examBulk.course')}}<span style="color:red"> *</span></label>
            <select-ex :options="courseLists" keyValue="courseId" displayValue="courseName"
              v-model.trim="programCourseLinkId"  @input="refreshData" >
            </select-ex>
          </div>
        </div> -->


      </div>

      <br>
      <grid :data="datas" :columns="columns" pre="modal.examinationExamSchedule.">
        <template slot="action-area">
          <button v-if="!forAllSection" :disabled="sectionCourseLinkId.length==0" @click="insertModel"
            class="btn btn-light btn-hover btn-sm btn-primary">
            <i class="la la-plus"></i>{{$t('button.insert')}}
          </button>
          <button v-if="forAllSection" :disabled="sectionCourseLinkList.length==0" @click="insertModel"
            class="btn btn-light btn-hover btn-sm btn-primary">
            <i class="la la-plus"></i>{{$t('button.insert')}}
          </button>
          <button :disabled="sectionCourseLinkId.length==0" @click="refreshData"
            class="btn btn-light btn-hover btn-sm btn-primary">
            <i class="la la-refresh"></i> {{$t('button.reload')}}
          </button>
        </template>
        <template slot="action" slot-scope="item">
          <!-- <button @click="preview(item.row)" v-if="canEdit" title="Enter Exam Result" type="button"
          class="btn btn-outline-primary btn-icon btn-sm btn-circle">
          <i class="la la-plus"></i>
        </button> -->
          <button @click="editModel(item.row)" v-if="canEdit" title="Edit" type="button"
            class="btn btn-outline-primary btn-icon btn-sm btn-circle">
            <i class="la la-edit"></i>
          </button>

          <button @click="deleteModel(item.row)" v-if="canDelete" title="Delete" type="button"
            class="btn btn-outline-danger btn-icon btn-sm btn-circle">
            <i class="la la-trash"></i>
          </button>
        </template>

        <template slot="courseName" slot-scope="item">
          <select-ex :options="item.row.courseName" keyValue="ExamScheduleId" displayValue="CourseName"
            v-model="coursename"></select-ex>

        </template>

        <template slot="examDate" slot-scope="item">
          {{item.row.examDate| formatDMY}}
        </template>

        <template slot="statusId" slot-scope="item">
          <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill"
            v-if="item.row.statusId == 1">Active</span>
          <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill" v-else>InActive</span>
        </template>




      </grid>
      <!-- </div> -->
    </template>
  </portlet-area>
  <ExamSchedule-add-edit-model :courseLists="courseLists" @submit="refreshData"></ExamSchedule-add-edit-model>
  <delete-model @submit="refreshData"></delete-model>
  <preview-model></preview-model>
</page-area>